body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:362px;
  top:18px;
  width:83px;
  height:42px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:13px;
  width:79px;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1197 {
  position:absolute;
  left:354px;
  top:99px;
  width:100px;
  height:60px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1199 {
  position:absolute;
  left:354px;
  top:206px;
  width:100px;
  height:60px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1201 {
  position:absolute;
  left:404px;
  top:60px;
  width:0px;
  height:0px;
}
#u1201_seg0 {
  position:absolute;
  left:-20px;
  top:17px;
  width:39px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1202 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203 {
  position:absolute;
  left:404px;
  top:159px;
  width:0px;
  height:0px;
}
#u1203_seg0 {
  position:absolute;
  left:-24px;
  top:21px;
  width:47px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1204 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1205 {
  position:absolute;
  left:354px;
  top:129px;
  width:0px;
  height:0px;
}
#u1205_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u1205_seg1 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:222px;
}
#u1205_seg2 {
  position:absolute;
  left:-42px;
  top:210px;
  width:42px;
  height:8px;
}
#u1205_seg3 {
  position:absolute;
  left:-13px;
  top:204px;
  width:20px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:-88px;
  top:99px;
  width:100px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:562px;
  top:206px;
  width:100px;
  height:60px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1209 {
  position:absolute;
  left:454px;
  top:236px;
  width:0px;
  height:0px;
}
#u1209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u1209_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1211 {
  position:absolute;
  left:354px;
  top:313px;
  width:100px;
  height:60px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:404px;
  top:373px;
  width:0px;
  height:0px;
}
#u1213_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u1213_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  position:absolute;
  left:354px;
  top:435px;
  width:100px;
  height:60px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1217 {
  position:absolute;
  left:404px;
  top:495px;
  width:0px;
  height:0px;
}
#u1217_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u1217_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u1218 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1219 {
  position:absolute;
  left:354px;
  top:555px;
  width:100px;
  height:60px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:354px;
  top:663px;
  width:100px;
  height:60px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1223 {
  position:absolute;
  left:404px;
  top:615px;
  width:0px;
  height:0px;
}
#u1223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1223_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:281px;
  top:785px;
  width:100px;
  height:60px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1227 {
  position:absolute;
  left:404px;
  top:723px;
  width:0px;
  height:0px;
}
#u1227_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1227_seg1 {
  position:absolute;
  left:-77px;
  top:43px;
  width:81px;
  height:8px;
}
#u1227_seg2 {
  position:absolute;
  left:-77px;
  top:43px;
  width:8px;
  height:19px;
}
#u1227_seg3 {
  position:absolute;
  left:-83px;
  top:49px;
  width:20px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:-70px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:427px;
  top:785px;
  width:100px;
  height:60px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:454px;
  top:693px;
  width:0px;
  height:0px;
}
#u1231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u1231_seg1 {
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:96px;
}
#u1231_seg2 {
  position:absolute;
  left:13px;
  top:79px;
  width:20px;
  height:20px;
}
#u1232 {
  position:absolute;
  left:-27px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:354px;
  top:904px;
  width:100px;
  height:60px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1235 {
  position:absolute;
  left:331px;
  top:845px;
  width:0px;
  height:0px;
}
#u1235_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1235_seg1 {
  position:absolute;
  left:-4px;
  top:85px;
  width:27px;
  height:8px;
}
#u1235_seg2 {
  position:absolute;
  left:10px;
  top:79px;
  width:20px;
  height:20px;
}
#u1236 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:477px;
  top:845px;
  width:0px;
  height:0px;
}
#u1237_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u1237_seg1 {
  position:absolute;
  left:-23px;
  top:85px;
  width:27px;
  height:8px;
}
#u1237_seg2 {
  position:absolute;
  left:-30px;
  top:79px;
  width:20px;
  height:20px;
}
#u1238 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1239 {
  position:absolute;
  left:354px;
  top:1017px;
  width:100px;
  height:60px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1241 {
  position:absolute;
  left:404px;
  top:964px;
  width:0px;
  height:0px;
}
#u1241_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1241_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u1242 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243 {
  position:absolute;
  left:454px;
  top:343px;
  width:0px;
  height:0px;
}
#u1243_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1243_seg1 {
  position:absolute;
  left:75px;
  top:-4px;
  width:8px;
  height:712px;
}
#u1243_seg2 {
  position:absolute;
  left:0px;
  top:700px;
  width:83px;
  height:8px;
}
#u1243_seg3 {
  position:absolute;
  left:-7px;
  top:694px;
  width:20px;
  height:20px;
}
#u1244 {
  position:absolute;
  left:29px;
  top:344px;
  width:100px;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:612px;
  top:266px;
  width:0px;
  height:0px;
}
#u1245_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:785px;
}
#u1245_seg1 {
  position:absolute;
  left:-158px;
  top:777px;
  width:162px;
  height:8px;
}
#u1245_seg2 {
  position:absolute;
  left:-165px;
  top:771px;
  width:20px;
  height:20px;
}
#u1246 {
  position:absolute;
  left:-50px;
  top:462px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:404px;
  top:266px;
  width:0px;
  height:0px;
}
#u1247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1247_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  position:absolute;
  left:199px;
  top:663px;
  width:100px;
  height:60px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1251 {
  position:absolute;
  left:354px;
  top:585px;
  width:0px;
  height:0px;
}
#u1251_seg0 {
  position:absolute;
  left:-109px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1251_seg1 {
  position:absolute;
  left:-109px;
  top:-4px;
  width:8px;
  height:82px;
}
#u1251_seg2 {
  position:absolute;
  left:-115px;
  top:65px;
  width:20px;
  height:20px;
}
#u1252 {
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:249px;
  top:723px;
  width:0px;
  height:0px;
}
#u1253_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:328px;
}
#u1253_seg1 {
  position:absolute;
  left:-4px;
  top:320px;
  width:109px;
  height:8px;
}
#u1253_seg2 {
  position:absolute;
  left:92px;
  top:314px;
  width:20px;
  height:20px;
}
#u1254 {
  position:absolute;
  left:-50px;
  top:206px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
