body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u748 {
  position:absolute;
  left:6px;
  top:6px;
  width:1421px;
  height:772px;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u750 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u751 {
  position:absolute;
  left:472px;
  top:0px;
  width:472px;
  height:75px;
}
#u752 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u753 {
  position:absolute;
  left:944px;
  top:0px;
  width:472px;
  height:75px;
}
#u754 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u755 {
  position:absolute;
  left:0px;
  top:75px;
  width:472px;
  height:692px;
}
#u755_img.mouseOver {
}
#u755.mouseOver {
}
#u756 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u757 {
  position:absolute;
  left:472px;
  top:75px;
  width:472px;
  height:692px;
}
#u758 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u759 {
  position:absolute;
  left:944px;
  top:75px;
  width:472px;
  height:692px;
}
#u760 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:138px;
  top:182px;
  width:100px;
  height:60px;
}
#u762 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  position:absolute;
  left:138px;
  top:263px;
  width:100px;
  height:60px;
}
#u764 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:128px;
  top:443px;
  width:100px;
  height:60px;
}
#u766 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:528px;
  top:104px;
  width:100px;
  height:60px;
}
#u768 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:676px;
  top:104px;
  width:100px;
  height:60px;
}
#u770 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:238px;
  top:212px;
  width:0px;
  height:0px;
}
#u771_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u771_seg1 {
  position:absolute;
  left:6px;
  top:-82px;
  width:8px;
  height:86px;
}
#u771_seg2 {
  position:absolute;
  left:6px;
  top:-82px;
  width:284px;
  height:8px;
}
#u771_seg3 {
  position:absolute;
  left:277px;
  top:-88px;
  width:20px;
  height:20px;
}
#u772 {
  position:absolute;
  left:56px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773 {
  position:absolute;
  left:628px;
  top:134px;
  width:0px;
  height:0px;
}
#u773_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u773_seg1 {
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u774 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775 {
  position:absolute;
  left:238px;
  top:293px;
  width:0px;
  height:0px;
}
#u775_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u775_seg1 {
  position:absolute;
  left:203px;
  top:-163px;
  width:8px;
  height:167px;
}
#u775_seg2 {
  position:absolute;
  left:203px;
  top:-163px;
  width:87px;
  height:8px;
}
#u775_seg3 {
  position:absolute;
  left:277px;
  top:-169px;
  width:20px;
  height:20px;
}
#u776 {
  position:absolute;
  left:157px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u777 {
  position:absolute;
  left:1379px;
  top:86px;
  width:43px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:1062px;
  top:104px;
  width:100px;
  height:60px;
}
#u780 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u781 {
  position:absolute;
  left:831px;
  top:94px;
  width:60px;
  height:80px;
}
#u782 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u783 {
  position:absolute;
  left:776px;
  top:134px;
  width:0px;
  height:0px;
}
#u783_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u783_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u784 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  position:absolute;
  left:891px;
  top:134px;
  width:0px;
  height:0px;
}
#u785_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:175px;
  height:8px;
}
#u785_seg1 {
  position:absolute;
  left:158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u786 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u787 {
  position:absolute;
  left:676px;
  top:327px;
  width:60px;
  height:80px;
}
#u788 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u789 {
  position:absolute;
  left:811px;
  top:225px;
  width:100px;
  height:60px;
  color:#0000FF;
}
#u790 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u791 {
  position:absolute;
  left:861px;
  top:174px;
  width:0px;
  height:0px;
}
#u791_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u791_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u792 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u793 {
  position:absolute;
  left:811px;
  top:337px;
  width:100px;
  height:60px;
  color:#000000;
}
#u794 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u795 {
  position:absolute;
  left:861px;
  top:285px;
  width:0px;
  height:0px;
}
#u795_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u795_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u796 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  position:absolute;
  left:736px;
  top:367px;
  width:0px;
  height:0px;
}
#u797_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u797_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u798 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:1062px;
  top:513px;
  width:100px;
  height:60px;
}
#u800 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:1062px;
  top:443px;
  width:100px;
  height:60px;
}
#u802 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  position:absolute;
  left:1062px;
  top:589px;
  width:100px;
  height:60px;
}
#u804 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u805 {
  position:absolute;
  left:676px;
  top:513px;
  width:100px;
  height:60px;
  color:#000000;
}
#u806 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u807 {
  position:absolute;
  left:1062px;
  top:543px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u807_seg0 {
  position:absolute;
  left:-286px;
  top:-4px;
  width:290px;
  height:8px;
}
#u807_seg1 {
  position:absolute;
  left:-293px;
  top:-10px;
  width:20px;
  height:20px;
}
#u808 {
  position:absolute;
  left:-193px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:676px;
  top:543px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u809_seg0 {
  position:absolute;
  left:-502px;
  top:-4px;
  width:502px;
  height:8px;
}
#u809_seg1 {
  position:absolute;
  left:-502px;
  top:-40px;
  width:8px;
  height:44px;
}
#u809_seg2 {
  position:absolute;
  left:-508px;
  top:-47px;
  width:20px;
  height:20px;
}
#u810 {
  position:absolute;
  left:-319px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:1252px;
  top:104px;
  width:100px;
  height:60px;
}
#u812 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:1252px;
  top:182px;
  width:100px;
  height:60px;
}
#u814 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:1252px;
  top:263px;
  width:100px;
  height:60px;
}
#u816 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:1252px;
  top:337px;
  width:100px;
  height:60px;
}
#u818 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:1062px;
  top:193px;
  width:100px;
  height:60px;
}
#u820 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:761px;
}
#u821 {
  position:absolute;
  left:1190px;
  top:80px;
  width:1px;
  height:760px;
}
#u822 {
  position:absolute;
  left:2px;
  top:372px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u823 {
  position:absolute;
  left:953px;
  top:86px;
  width:98px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u825 {
  position:absolute;
  left:676px;
  top:215px;
  width:60px;
  height:80px;
}
#u826 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:1062px;
  top:686px;
  width:100px;
  height:60px;
}
#u828 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u829 {
  position:absolute;
  left:178px;
  top:443px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u829_seg0 {
  position:absolute;
  left:-4px;
  top:-110px;
  width:8px;
  height:110px;
}
#u829_seg1 {
  position:absolute;
  left:-4px;
  top:-110px;
  width:490px;
  height:8px;
}
#u829_seg2 {
  position:absolute;
  left:478px;
  top:-192px;
  width:8px;
  height:90px;
}
#u829_seg3 {
  position:absolute;
  left:478px;
  top:-192px;
  width:20px;
  height:8px;
}
#u829_seg4 {
  position:absolute;
  left:485px;
  top:-198px;
  width:20px;
  height:20px;
}
#u830 {
  position:absolute;
  left:187px;
  top:-114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831 {
  position:absolute;
  left:736px;
  top:255px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u831_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u831_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u832 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:811px;
  top:443px;
  width:100px;
  height:60px;
}
#u834 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u835 {
  position:absolute;
  left:891px;
  top:134px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u835_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u835_seg1 {
  position:absolute;
  left:35px;
  top:-4px;
  width:8px;
  height:347px;
}
#u835_seg2 {
  position:absolute;
  left:20px;
  top:335px;
  width:23px;
  height:8px;
}
#u835_seg3 {
  position:absolute;
  left:13px;
  top:329px;
  width:20px;
  height:20px;
}
#u836 {
  position:absolute;
  left:-11px;
  top:152px;
  width:100px;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:861px;
  top:397px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u837_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u837_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u838 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:811px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u839_seg0 {
  position:absolute;
  left:-89px;
  top:-4px;
  width:89px;
  height:8px;
}
#u839_seg1 {
  position:absolute;
  left:-89px;
  top:-4px;
  width:8px;
  height:44px;
}
#u839_seg2 {
  position:absolute;
  left:-95px;
  top:27px;
  width:20px;
  height:20px;
}
#u840 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:1062px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u841_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:155px;
  height:8px;
}
#u841_seg1 {
  position:absolute;
  left:-158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u842 {
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843 {
  position:absolute;
  left:1062px;
  top:619px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u843_seg0 {
  position:absolute;
  left:-340px;
  top:-4px;
  width:340px;
  height:8px;
}
#u843_seg1 {
  position:absolute;
  left:-340px;
  top:-46px;
  width:8px;
  height:50px;
}
#u843_seg2 {
  position:absolute;
  left:-346px;
  top:-53px;
  width:20px;
  height:20px;
}
#u844 {
  position:absolute;
  left:-241px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u845 {
  position:absolute;
  left:706px;
  top:215px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u845_seg0 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u845_seg1 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:352px;
  height:8px;
}
#u845_seg2 {
  position:absolute;
  left:340px;
  top:-19px;
  width:8px;
  height:31px;
}
#u845_seg3 {
  position:absolute;
  left:340px;
  top:4px;
  width:16px;
  height:8px;
}
#u845_seg4 {
  position:absolute;
  left:343px;
  top:-2px;
  width:20px;
  height:20px;
}
#u846 {
  position:absolute;
  left:132px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847 {
  position:absolute;
  left:138px;
  top:212px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u847_seg0 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:32px;
  height:8px;
}
#u847_seg1 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:8px;
  height:512px;
}
#u847_seg2 {
  position:absolute;
  left:-32px;
  top:500px;
  width:567px;
  height:8px;
}
#u847_seg3 {
  position:absolute;
  left:522px;
  top:494px;
  width:20px;
  height:20px;
}
#u848 {
  position:absolute;
  left:-62px;
  top:496px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849 {
  position:absolute;
  left:128px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u849_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u849_seg1 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:8px;
  height:252px;
}
#u849_seg2 {
  position:absolute;
  left:-22px;
  top:240px;
  width:569px;
  height:8px;
}
#u849_seg3 {
  position:absolute;
  left:534px;
  top:234px;
  width:20px;
  height:20px;
}
#u850 {
  position:absolute;
  left:84px;
  top:236px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u851 {
  position:absolute;
  left:676px;
  top:676px;
  width:60px;
  height:80px;
}
#u852 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:736px;
  top:716px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u853_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:330px;
  height:8px;
}
#u853_seg1 {
  position:absolute;
  left:313px;
  top:-10px;
  width:20px;
  height:20px;
}
#u854 {
  position:absolute;
  left:113px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
