body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19 {
  position:absolute;
  left:6px;
  top:6px;
  width:1421px;
  height:772px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u22 {
  position:absolute;
  left:472px;
  top:0px;
  width:472px;
  height:75px;
}
#u23 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:75px;
}
#u24 {
  position:absolute;
  left:944px;
  top:0px;
  width:472px;
  height:75px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:468px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u26 {
  position:absolute;
  left:0px;
  top:75px;
  width:472px;
  height:692px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u28 {
  position:absolute;
  left:472px;
  top:75px;
  width:472px;
  height:692px;
}
#u29 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:692px;
}
#u30 {
  position:absolute;
  left:944px;
  top:75px;
  width:472px;
  height:692px;
}
#u31 {
  position:absolute;
  left:2px;
  top:338px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:138px;
  top:182px;
  width:100px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:138px;
  top:263px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:128px;
  top:443px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:528px;
  top:104px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:676px;
  top:104px;
  width:100px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:238px;
  top:212px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u42_seg1 {
  position:absolute;
  left:6px;
  top:-82px;
  width:8px;
  height:86px;
}
#u42_seg2 {
  position:absolute;
  left:6px;
  top:-82px;
  width:284px;
  height:8px;
}
#u42_seg3 {
  position:absolute;
  left:277px;
  top:-88px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:56px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:628px;
  top:134px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u44_seg1 {
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:238px;
  top:293px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u46_seg1 {
  position:absolute;
  left:203px;
  top:-163px;
  width:8px;
  height:167px;
}
#u46_seg2 {
  position:absolute;
  left:203px;
  top:-163px;
  width:87px;
  height:8px;
}
#u46_seg3 {
  position:absolute;
  left:277px;
  top:-169px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:157px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:1379px;
  top:86px;
  width:43px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:1062px;
  top:104px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u52 {
  position:absolute;
  left:831px;
  top:94px;
  width:60px;
  height:80px;
}
#u53 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:776px;
  top:134px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u54_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:891px;
  top:134px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:175px;
  height:8px;
}
#u56_seg1 {
  position:absolute;
  left:158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u58 {
  position:absolute;
  left:676px;
  top:327px;
  width:60px;
  height:80px;
}
#u59 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u60 {
  position:absolute;
  left:811px;
  top:225px;
  width:100px;
  height:60px;
  color:#0000FF;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:861px;
  top:174px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u62_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u64 {
  position:absolute;
  left:811px;
  top:337px;
  width:100px;
  height:60px;
  color:#000000;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:861px;
  top:285px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u66_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:736px;
  top:367px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u68_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:1062px;
  top:513px;
  width:100px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:1062px;
  top:443px;
  width:100px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:1062px;
  top:589px;
  width:100px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u76 {
  position:absolute;
  left:676px;
  top:513px;
  width:100px;
  height:60px;
  color:#000000;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1062px;
  top:543px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u78_seg0 {
  position:absolute;
  left:-286px;
  top:-4px;
  width:290px;
  height:8px;
}
#u78_seg1 {
  position:absolute;
  left:-293px;
  top:-10px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:-193px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:676px;
  top:543px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u80_seg0 {
  position:absolute;
  left:-502px;
  top:-4px;
  width:502px;
  height:8px;
}
#u80_seg1 {
  position:absolute;
  left:-502px;
  top:-40px;
  width:8px;
  height:44px;
}
#u80_seg2 {
  position:absolute;
  left:-508px;
  top:-47px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:-319px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:1252px;
  top:104px;
  width:100px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:1252px;
  top:182px;
  width:100px;
  height:60px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:1252px;
  top:263px;
  width:100px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:1252px;
  top:337px;
  width:100px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:1062px;
  top:193px;
  width:100px;
  height:60px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:761px;
}
#u92 {
  position:absolute;
  left:1190px;
  top:80px;
  width:1px;
  height:760px;
}
#u93 {
  position:absolute;
  left:2px;
  top:372px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:953px;
  top:86px;
  width:98px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u96 {
  position:absolute;
  left:676px;
  top:215px;
  width:60px;
  height:80px;
}
#u97 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:1062px;
  top:686px;
  width:100px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:178px;
  top:443px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:-110px;
  width:8px;
  height:110px;
}
#u100_seg1 {
  position:absolute;
  left:-4px;
  top:-110px;
  width:490px;
  height:8px;
}
#u100_seg2 {
  position:absolute;
  left:478px;
  top:-192px;
  width:8px;
  height:90px;
}
#u100_seg3 {
  position:absolute;
  left:478px;
  top:-192px;
  width:20px;
  height:8px;
}
#u100_seg4 {
  position:absolute;
  left:485px;
  top:-198px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:187px;
  top:-114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:736px;
  top:255px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u102_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u102_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:811px;
  top:443px;
  width:100px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:891px;
  top:134px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u106_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u106_seg1 {
  position:absolute;
  left:35px;
  top:-4px;
  width:8px;
  height:347px;
}
#u106_seg2 {
  position:absolute;
  left:20px;
  top:335px;
  width:23px;
  height:8px;
}
#u106_seg3 {
  position:absolute;
  left:13px;
  top:329px;
  width:20px;
  height:20px;
}
#u107 {
  position:absolute;
  left:-11px;
  top:152px;
  width:100px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:861px;
  top:397px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u108_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u108_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:811px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u110_seg0 {
  position:absolute;
  left:-89px;
  top:-4px;
  width:89px;
  height:8px;
}
#u110_seg1 {
  position:absolute;
  left:-89px;
  top:-4px;
  width:8px;
  height:44px;
}
#u110_seg2 {
  position:absolute;
  left:-95px;
  top:27px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1062px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u112_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:155px;
  height:8px;
}
#u112_seg1 {
  position:absolute;
  left:-158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1062px;
  top:619px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u114_seg0 {
  position:absolute;
  left:-340px;
  top:-4px;
  width:340px;
  height:8px;
}
#u114_seg1 {
  position:absolute;
  left:-340px;
  top:-46px;
  width:8px;
  height:50px;
}
#u114_seg2 {
  position:absolute;
  left:-346px;
  top:-53px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:-241px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:706px;
  top:215px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u116_seg0 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u116_seg1 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:352px;
  height:8px;
}
#u116_seg2 {
  position:absolute;
  left:340px;
  top:-19px;
  width:8px;
  height:31px;
}
#u116_seg3 {
  position:absolute;
  left:340px;
  top:4px;
  width:16px;
  height:8px;
}
#u116_seg4 {
  position:absolute;
  left:343px;
  top:-2px;
  width:20px;
  height:20px;
}
#u117 {
  position:absolute;
  left:132px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:138px;
  top:212px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u118_seg0 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:32px;
  height:8px;
}
#u118_seg1 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:8px;
  height:512px;
}
#u118_seg2 {
  position:absolute;
  left:-32px;
  top:500px;
  width:567px;
  height:8px;
}
#u118_seg3 {
  position:absolute;
  left:522px;
  top:494px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:-62px;
  top:496px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:128px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u120_seg0 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u120_seg1 {
  position:absolute;
  left:-22px;
  top:-4px;
  width:8px;
  height:252px;
}
#u120_seg2 {
  position:absolute;
  left:-22px;
  top:240px;
  width:569px;
  height:8px;
}
#u120_seg3 {
  position:absolute;
  left:534px;
  top:234px;
  width:20px;
  height:20px;
}
#u121 {
  position:absolute;
  left:84px;
  top:236px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:81px;
}
#u122 {
  position:absolute;
  left:676px;
  top:676px;
  width:60px;
  height:80px;
}
#u123 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:736px;
  top:716px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u124_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:330px;
  height:8px;
}
#u124_seg1 {
  position:absolute;
  left:313px;
  top:-10px;
  width:20px;
  height:20px;
}
#u125 {
  position:absolute;
  left:113px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
