body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5139 {
  position:absolute;
  left:7px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:22px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:889px;
}
#u5141 {
  position:absolute;
  left:5px;
  top:58px;
  width:219px;
  height:889px;
}
#u5142 {
  position:absolute;
  left:2px;
  top:436px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5143 {
  position:absolute;
  left:52px;
  top:249px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5144 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5145 {
  position:absolute;
  left:52px;
  top:278px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5146 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5147 {
  position:absolute;
  left:52px;
  top:309px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5148 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5149 {
  position:absolute;
  left:0px;
  top:205px;
  width:224px;
  height:36px;
}
#u5150 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5151 {
  position:absolute;
  left:52px;
  top:205px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5152 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:71px;
}
#u5153 {
  position:absolute;
  left:4px;
  top:135px;
  width:220px;
  height:71px;
}
#u5154 {
  position:absolute;
  left:2px;
  top:28px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5155 {
  position:absolute;
  left:0px;
  top:63px;
  width:224px;
  height:36px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5157 {
  position:absolute;
  left:53px;
  top:63px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5158 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:666px;
}
#u5159 {
  position:absolute;
  left:4px;
  top:334px;
  width:220px;
  height:666px;
}
#u5160 {
  position:absolute;
  left:2px;
  top:325px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  position:absolute;
  left:0px;
  top:337px;
  width:224px;
  height:36px;
}
#u5162 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5163 {
  position:absolute;
  left:51px;
  top:337px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5164 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:81px;
}
#u5165 {
  position:absolute;
  left:16px;
  top:384px;
  width:29px;
  height:81px;
}
#u5166 {
  position:absolute;
  left:2px;
  top:32px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5167 {
  position:absolute;
  left:51px;
  top:383px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5168 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5169 {
  position:absolute;
  left:51px;
  top:412px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5170 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5171 {
  position:absolute;
  left:51px;
  top:443px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5172 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:105px;
}
#u5173 {
  position:absolute;
  left:5px;
  top:503px;
  width:216px;
  height:105px;
}
#u5174 {
  position:absolute;
  left:2px;
  top:44px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5175 {
  position:absolute;
  left:48px;
  top:518px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5176 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5177 {
  position:absolute;
  left:48px;
  top:547px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5178 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5179 {
  position:absolute;
  left:48px;
  top:576px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5180 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5181 {
  position:absolute;
  left:0px;
  top:471px;
  width:224px;
  height:36px;
}
#u5182 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5183 {
  position:absolute;
  left:51px;
  top:471px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5184 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5185 {
  position:absolute;
  left:0px;
  top:609px;
  width:224px;
  height:36px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5187 {
  position:absolute;
  left:51px;
  top:609px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5188 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:129px;
}
#u5189 {
  position:absolute;
  left:4px;
  top:674px;
  width:220px;
  height:129px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5191 {
  position:absolute;
  left:80px;
  top:708px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5192 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5193 {
  position:absolute;
  left:80px;
  top:737px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5194 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5195 {
  position:absolute;
  left:80px;
  top:766px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5196 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5197 {
  position:absolute;
  left:51px;
  top:680px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5198 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5199 {
  position:absolute;
  left:0px;
  top:795px;
  width:224px;
  height:36px;
}
#u5200 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5201 {
  position:absolute;
  left:51px;
  top:795px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5202 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:81px;
}
#u5203 {
  position:absolute;
  left:6px;
  top:831px;
  width:218px;
  height:81px;
}
#u5204 {
  position:absolute;
  left:2px;
  top:32px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5205 {
  position:absolute;
  left:51px;
  top:847px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5206 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5207 {
  position:absolute;
  left:51px;
  top:876px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5208 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:81px;
}
#u5209 {
  position:absolute;
  left:4px;
  top:99px;
  width:220px;
  height:81px;
}
#u5210 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5211 {
  position:absolute;
  left:52px;
  top:146px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5212 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5213 {
  position:absolute;
  left:52px;
  top:175px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5214 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5215 {
  position:absolute;
  left:52px;
  top:117px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5216 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u5217 {
  position:absolute;
  left:22px;
  top:649px;
  width:27px;
  height:30px;
}
#u5218 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u5219 {
  position:absolute;
  left:52px;
  top:647px;
  width:129px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u5220 {
  position:absolute;
  left:2px;
  top:9px;
  width:125px;
  word-wrap:break-word;
}
#u5221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1676px;
  height:482px;
}
#u5221 {
  position:absolute;
  left:233px;
  top:63px;
  width:1676px;
  height:482px;
}
#u5222 {
  position:absolute;
  left:2px;
  top:233px;
  width:1672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:95px;
}
#u5223 {
  position:absolute;
  left:561px;
  top:399px;
  width:541px;
  height:95px;
}
#u5224 {
  position:absolute;
  left:2px;
  top:40px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225 {
  position:absolute;
  left:561px;
  top:394px;
  width:546px;
  height:145px;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5227 {
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:50px;
}
#u5228 {
  position:absolute;
  left:72px;
  top:0px;
  width:469px;
  height:50px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:17px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5230 {
  position:absolute;
  left:0px;
  top:50px;
  width:72px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5231 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:20px;
}
#u5232 {
  position:absolute;
  left:72px;
  top:50px;
  width:469px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u5233 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u5234 {
  position:absolute;
  left:0px;
  top:70px;
  width:72px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5235 {
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:50px;
}
#u5236 {
  position:absolute;
  left:72px;
  top:70px;
  width:469px;
  height:50px;
  text-align:left;
}
#u5237 {
  position:absolute;
  left:2px;
  top:17px;
  width:465px;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5238 {
  position:absolute;
  left:0px;
  top:120px;
  width:72px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5239 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:20px;
}
#u5240 {
  position:absolute;
  left:72px;
  top:120px;
  width:469px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u5241 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u5242 {
  position:absolute;
  left:663px;
  top:399px;
  width:138px;
  height:38px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:147px;
}
#u5244 {
  position:absolute;
  left:233px;
  top:150px;
  width:196px;
  height:147px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:66px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246 {
  position:absolute;
  left:545px;
  top:399px;
  width:557px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5246_ann {
  position:absolute;
  left:1095px;
  top:395px;
  width:1px;
  height:1px;
}
#u5247 {
  position:absolute;
  left:250px;
  top:157px;
  width:197px;
  height:155px;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5250 {
  position:absolute;
  left:0px;
  top:30px;
  width:192px;
  height:30px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5252 {
  position:absolute;
  left:0px;
  top:60px;
  width:192px;
  height:30px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5254 {
  position:absolute;
  left:0px;
  top:90px;
  width:192px;
  height:30px;
}
#u5255 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5256 {
  position:absolute;
  left:0px;
  top:120px;
  width:192px;
  height:30px;
}
#u5257 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5247_ann {
  position:absolute;
  left:435px;
  top:153px;
  width:1px;
  height:1px;
}
