body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5074 {
  position:absolute;
  left:7px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:22px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:889px;
}
#u5076 {
  position:absolute;
  left:5px;
  top:58px;
  width:219px;
  height:889px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:436px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5078 {
  position:absolute;
  left:52px;
  top:249px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5079 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5080 {
  position:absolute;
  left:52px;
  top:278px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5081 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5082 {
  position:absolute;
  left:52px;
  top:309px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5083 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:0px;
  top:205px;
  width:224px;
  height:36px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5086 {
  position:absolute;
  left:52px;
  top:205px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5087 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:71px;
}
#u5088 {
  position:absolute;
  left:4px;
  top:135px;
  width:220px;
  height:71px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:28px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:0px;
  top:63px;
  width:224px;
  height:36px;
}
#u5091 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5092 {
  position:absolute;
  left:53px;
  top:63px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5093 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:666px;
}
#u5094 {
  position:absolute;
  left:4px;
  top:334px;
  width:220px;
  height:666px;
}
#u5095 {
  position:absolute;
  left:2px;
  top:325px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5096 {
  position:absolute;
  left:0px;
  top:337px;
  width:224px;
  height:36px;
}
#u5097 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5098 {
  position:absolute;
  left:51px;
  top:337px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5099 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:81px;
}
#u5100 {
  position:absolute;
  left:16px;
  top:384px;
  width:29px;
  height:81px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:32px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5102 {
  position:absolute;
  left:51px;
  top:383px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5103 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5104 {
  position:absolute;
  left:51px;
  top:412px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5105 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5106 {
  position:absolute;
  left:51px;
  top:443px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5107 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:105px;
}
#u5108 {
  position:absolute;
  left:5px;
  top:503px;
  width:216px;
  height:105px;
}
#u5109 {
  position:absolute;
  left:2px;
  top:44px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5110 {
  position:absolute;
  left:48px;
  top:518px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5111 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5112 {
  position:absolute;
  left:48px;
  top:547px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5113 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5114 {
  position:absolute;
  left:48px;
  top:576px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5115 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5116 {
  position:absolute;
  left:0px;
  top:471px;
  width:224px;
  height:36px;
}
#u5117 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5118 {
  position:absolute;
  left:51px;
  top:471px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5119 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5120 {
  position:absolute;
  left:0px;
  top:609px;
  width:224px;
  height:36px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5122 {
  position:absolute;
  left:51px;
  top:609px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5123 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:129px;
}
#u5124 {
  position:absolute;
  left:4px;
  top:674px;
  width:220px;
  height:129px;
}
#u5125 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5126 {
  position:absolute;
  left:80px;
  top:708px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5127 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5128 {
  position:absolute;
  left:80px;
  top:737px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5129 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5130 {
  position:absolute;
  left:80px;
  top:766px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5131 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5132 {
  position:absolute;
  left:51px;
  top:680px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5133 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5134 {
  position:absolute;
  left:0px;
  top:795px;
  width:224px;
  height:36px;
}
#u5135 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5136 {
  position:absolute;
  left:51px;
  top:795px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5137 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:81px;
}
#u5138 {
  position:absolute;
  left:6px;
  top:831px;
  width:218px;
  height:81px;
}
#u5139 {
  position:absolute;
  left:2px;
  top:32px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5140 {
  position:absolute;
  left:51px;
  top:847px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5141 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5142 {
  position:absolute;
  left:51px;
  top:876px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5143 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:81px;
}
#u5144 {
  position:absolute;
  left:4px;
  top:99px;
  width:220px;
  height:81px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5146 {
  position:absolute;
  left:52px;
  top:146px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5147 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5148 {
  position:absolute;
  left:52px;
  top:175px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5149 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5150 {
  position:absolute;
  left:52px;
  top:117px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5151 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u5152 {
  position:absolute;
  left:22px;
  top:649px;
  width:27px;
  height:30px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u5154 {
  position:absolute;
  left:52px;
  top:647px;
  width:129px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u5155 {
  position:absolute;
  left:2px;
  top:9px;
  width:125px;
  word-wrap:break-word;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1676px;
  height:482px;
}
#u5156 {
  position:absolute;
  left:233px;
  top:63px;
  width:1676px;
  height:482px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:233px;
  width:1672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:95px;
}
#u5158 {
  position:absolute;
  left:561px;
  top:399px;
  width:541px;
  height:95px;
}
#u5159 {
  position:absolute;
  left:2px;
  top:40px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160 {
  position:absolute;
  left:561px;
  top:394px;
  width:546px;
  height:145px;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5162 {
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  word-wrap:break-word;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:50px;
}
#u5163 {
  position:absolute;
  left:72px;
  top:0px;
  width:469px;
  height:50px;
}
#u5164 {
  position:absolute;
  left:2px;
  top:17px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5165 {
  position:absolute;
  left:0px;
  top:50px;
  width:72px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5166 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:20px;
}
#u5167 {
  position:absolute;
  left:72px;
  top:50px;
  width:469px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u5168 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u5169 {
  position:absolute;
  left:0px;
  top:70px;
  width:72px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5170 {
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:50px;
}
#u5171 {
  position:absolute;
  left:72px;
  top:70px;
  width:469px;
  height:50px;
  text-align:left;
}
#u5172 {
  position:absolute;
  left:2px;
  top:17px;
  width:465px;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5173 {
  position:absolute;
  left:0px;
  top:120px;
  width:72px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5174 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:20px;
}
#u5175 {
  position:absolute;
  left:72px;
  top:120px;
  width:469px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u5176 {
  position:absolute;
  left:2px;
  top:2px;
  width:465px;
  word-wrap:break-word;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u5177 {
  position:absolute;
  left:663px;
  top:399px;
  width:138px;
  height:38px;
}
#u5178 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:147px;
}
#u5179 {
  position:absolute;
  left:233px;
  top:150px;
  width:196px;
  height:147px;
}
#u5180 {
  position:absolute;
  left:2px;
  top:66px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5181 {
  position:absolute;
  left:545px;
  top:399px;
  width:557px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5181_ann {
  position:absolute;
  left:1095px;
  top:395px;
  width:1px;
  height:1px;
}
#u5182 {
  position:absolute;
  left:250px;
  top:157px;
  width:197px;
  height:155px;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5184 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5185 {
  position:absolute;
  left:0px;
  top:30px;
  width:192px;
  height:30px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5187 {
  position:absolute;
  left:0px;
  top:60px;
  width:192px;
  height:30px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5189 {
  position:absolute;
  left:0px;
  top:90px;
  width:192px;
  height:30px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:120px;
  width:192px;
  height:30px;
}
#u5192 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u5182_ann {
  position:absolute;
  left:435px;
  top:153px;
  width:1px;
  height:1px;
}
