body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1373 {
  position:absolute;
  left:479px;
  top:102px;
  width:100px;
  height:60px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  position:absolute;
  left:479px;
  top:243px;
  width:100px;
  height:60px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1377 {
  position:absolute;
  left:479px;
  top:362px;
  width:100px;
  height:60px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1379 {
  position:absolute;
  left:285px;
  top:466px;
  width:100px;
  height:60px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:106px;
  top:466px;
  width:100px;
  height:60px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:479px;
  top:466px;
  width:100px;
  height:60px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:479px;
  top:607px;
  width:100px;
  height:60px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1387 {
  position:absolute;
  left:479px;
  top:722px;
  width:100px;
  height:60px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1389 {
  position:absolute;
  left:529px;
  top:162px;
  width:0px;
  height:0px;
}
#u1389_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u1389_seg1 {
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u1390 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391 {
  position:absolute;
  left:529px;
  top:303px;
  width:0px;
  height:0px;
}
#u1391_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1391_seg1 {
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u1392 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393 {
  position:absolute;
  left:579px;
  top:392px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1393_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u1393_seg1 {
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:112px;
}
#u1393_seg2 {
  position:absolute;
  left:0px;
  top:100px;
  width:15px;
  height:8px;
}
#u1393_seg3 {
  position:absolute;
  left:-7px;
  top:94px;
  width:20px;
  height:20px;
}
#u1394 {
  position:absolute;
  left:-39px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u1395 {
  position:absolute;
  left:479px;
  top:392px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1395_seg0 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:148px;
  height:8px;
}
#u1395_seg1 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1395_seg2 {
  position:absolute;
  left:-154px;
  top:61px;
  width:20px;
  height:20px;
}
#u1396 {
  position:absolute;
  left:-159px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1397 {
  position:absolute;
  left:385px;
  top:496px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1397_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u1397_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1398 {
  position:absolute;
  left:-3px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1399 {
  position:absolute;
  left:285px;
  top:496px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1399_seg0 {
  position:absolute;
  left:-79px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1399_seg1 {
  position:absolute;
  left:-86px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1400 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1401 {
  position:absolute;
  left:529px;
  top:526px;
  width:0px;
  height:0px;
}
#u1401_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u1401_seg1 {
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u1402 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403 {
  position:absolute;
  left:529px;
  top:667px;
  width:0px;
  height:0px;
}
#u1403_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u1403_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u1404 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405 {
  position:absolute;
  left:479px;
  top:752px;
  width:0px;
  height:0px;
  font-size:16px;
  color:#FF0000;
}
#u1405_seg0 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u1405_seg1 {
  position:absolute;
  left:-23px;
  top:-119px;
  width:8px;
  height:123px;
}
#u1405_seg2 {
  position:absolute;
  left:-23px;
  top:-119px;
  width:23px;
  height:8px;
}
#u1405_seg3 {
  position:absolute;
  left:-13px;
  top:-125px;
  width:20px;
  height:20px;
}
#u1406 {
  position:absolute;
  left:-69px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1407 {
  position:absolute;
  left:479px;
  top:852px;
  width:100px;
  height:60px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1409 {
  position:absolute;
  left:529px;
  top:782px;
  width:0px;
  height:0px;
  font-size:16px;
  color:#FF0000;
}
#u1409_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u1409_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u1410 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1411 {
  position:absolute;
  left:479px;
  top:969px;
  width:100px;
  height:60px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1413 {
  position:absolute;
  left:529px;
  top:912px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1413_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1413_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u1414 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1415 {
  position:absolute;
  left:479px;
  top:1092px;
  width:100px;
  height:60px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1417 {
  position:absolute;
  left:529px;
  top:1029px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1417_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1417_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u1418 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419 {
  position:absolute;
  left:579px;
  top:882px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1419_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1419_seg1 {
  position:absolute;
  left:77px;
  top:-4px;
  width:8px;
  height:248px;
}
#u1419_seg2 {
  position:absolute;
  left:0px;
  top:236px;
  width:85px;
  height:8px;
}
#u1419_seg3 {
  position:absolute;
  left:-7px;
  top:230px;
  width:20px;
  height:20px;
}
#u1420 {
  position:absolute;
  left:31px;
  top:110px;
  width:100px;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:156px;
  top:526px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1421_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:600px;
}
#u1421_seg1 {
  position:absolute;
  left:-4px;
  top:592px;
  width:327px;
  height:8px;
}
#u1421_seg2 {
  position:absolute;
  left:310px;
  top:586px;
  width:20px;
  height:20px;
}
#u1422 {
  position:absolute;
  left:-50px;
  top:452px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
