body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:454px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:362px;
  top:18px;
  width:83px;
  height:42px;
}
#u405 {
  position:absolute;
  left:2px;
  top:13px;
  width:79px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u406 {
  position:absolute;
  left:354px;
  top:99px;
  width:100px;
  height:60px;
}
#u407 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u408 {
  position:absolute;
  left:354px;
  top:206px;
  width:100px;
  height:60px;
}
#u409 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u410 {
  position:absolute;
  left:404px;
  top:60px;
  width:0px;
  height:0px;
}
#u410_seg0 {
  position:absolute;
  left:-20px;
  top:17px;
  width:39px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u411 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:404px;
  top:159px;
  width:0px;
  height:0px;
}
#u412_seg0 {
  position:absolute;
  left:-24px;
  top:21px;
  width:47px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u413 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:354px;
  top:307px;
  width:100px;
  height:60px;
}
#u415 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:404px;
  top:266px;
  width:0px;
  height:0px;
}
#u416_seg0 {
  position:absolute;
  left:-21px;
  top:18px;
  width:41px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u417 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
