body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5316 {
  position:absolute;
  left:7px;
  top:0px;
  width:1919px;
  height:59px;
}
#u5317 {
  position:absolute;
  left:2px;
  top:22px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:889px;
}
#u5318 {
  position:absolute;
  left:5px;
  top:58px;
  width:219px;
  height:889px;
}
#u5319 {
  position:absolute;
  left:2px;
  top:436px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5320 {
  position:absolute;
  left:52px;
  top:249px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5321 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5322 {
  position:absolute;
  left:52px;
  top:278px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5323 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5324 {
  position:absolute;
  left:52px;
  top:309px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5325 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5326 {
  position:absolute;
  left:0px;
  top:205px;
  width:224px;
  height:36px;
}
#u5327 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5328 {
  position:absolute;
  left:52px;
  top:205px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5329 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:71px;
}
#u5330 {
  position:absolute;
  left:4px;
  top:135px;
  width:220px;
  height:71px;
}
#u5331 {
  position:absolute;
  left:2px;
  top:28px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5332 {
  position:absolute;
  left:0px;
  top:63px;
  width:224px;
  height:36px;
}
#u5333 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5334 {
  position:absolute;
  left:53px;
  top:63px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5335 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:666px;
}
#u5336 {
  position:absolute;
  left:4px;
  top:334px;
  width:220px;
  height:666px;
}
#u5337 {
  position:absolute;
  left:2px;
  top:325px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:0px;
  top:337px;
  width:224px;
  height:36px;
}
#u5339 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5340 {
  position:absolute;
  left:51px;
  top:337px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5341 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:81px;
}
#u5342 {
  position:absolute;
  left:16px;
  top:384px;
  width:29px;
  height:81px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:32px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5344 {
  position:absolute;
  left:51px;
  top:383px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5345 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5346 {
  position:absolute;
  left:51px;
  top:412px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5347 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5348 {
  position:absolute;
  left:51px;
  top:443px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5349 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:105px;
}
#u5350 {
  position:absolute;
  left:5px;
  top:503px;
  width:216px;
  height:105px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:44px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5352 {
  position:absolute;
  left:48px;
  top:518px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5353 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5354 {
  position:absolute;
  left:48px;
  top:547px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5355 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5356 {
  position:absolute;
  left:48px;
  top:576px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5357 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5358 {
  position:absolute;
  left:0px;
  top:471px;
  width:224px;
  height:36px;
}
#u5359 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5360 {
  position:absolute;
  left:51px;
  top:471px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5361 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5362 {
  position:absolute;
  left:0px;
  top:609px;
  width:224px;
  height:36px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5364 {
  position:absolute;
  left:51px;
  top:609px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5365 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:129px;
}
#u5366 {
  position:absolute;
  left:4px;
  top:674px;
  width:220px;
  height:129px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:56px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5368 {
  position:absolute;
  left:80px;
  top:708px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5369 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5370 {
  position:absolute;
  left:80px;
  top:737px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5371 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5372 {
  position:absolute;
  left:80px;
  top:766px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5373 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5374 {
  position:absolute;
  left:51px;
  top:680px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5375 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5376 {
  position:absolute;
  left:0px;
  top:795px;
  width:224px;
  height:36px;
}
#u5377 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5378 {
  position:absolute;
  left:51px;
  top:795px;
  width:164px;
  height:36px;
  color:#FFFFFF;
  text-align:left;
}
#u5379 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u5380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:81px;
}
#u5380 {
  position:absolute;
  left:6px;
  top:831px;
  width:218px;
  height:81px;
}
#u5381 {
  position:absolute;
  left:2px;
  top:32px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5382 {
  position:absolute;
  left:51px;
  top:847px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5383 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5384 {
  position:absolute;
  left:51px;
  top:876px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5385 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:81px;
}
#u5386 {
  position:absolute;
  left:4px;
  top:99px;
  width:220px;
  height:81px;
}
#u5387 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5388 {
  position:absolute;
  left:52px;
  top:146px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5389 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5390 {
  position:absolute;
  left:52px;
  top:175px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5391 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
}
#u5392 {
  position:absolute;
  left:52px;
  top:117px;
  width:106px;
  height:25px;
  color:#CCCCCC;
  text-align:left;
}
#u5393 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u5394 {
  position:absolute;
  left:22px;
  top:649px;
  width:27px;
  height:30px;
}
#u5395 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u5396 {
  position:absolute;
  left:52px;
  top:647px;
  width:129px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u5397 {
  position:absolute;
  left:2px;
  top:9px;
  width:125px;
  word-wrap:break-word;
}
#u5398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1667px;
  height:863px;
}
#u5398 {
  position:absolute;
  left:235px;
  top:64px;
  width:1667px;
  height:863px;
}
#u5399 {
  position:absolute;
  left:2px;
  top:424px;
  width:1663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5400 {
  position:absolute;
  left:1678px;
  top:877px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5401 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u5402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5402 {
  position:absolute;
  left:1337px;
  top:315px;
  width:70px;
  height:70px;
}
#u5403 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_ann {
  position:absolute;
  left:1400px;
  top:311px;
  width:1px;
  height:1px;
}
#u5404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:82px;
}
#u5404 {
  position:absolute;
  left:278px;
  top:724px;
  width:86px;
  height:82px;
}
#u5405 {
  position:absolute;
  left:2px;
  top:33px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5406 {
  position:absolute;
  left:286px;
  top:730px;
  width:70px;
  height:70px;
}
#u5407 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_ann {
  position:absolute;
  left:349px;
  top:726px;
  width:1px;
  height:1px;
}
#u5408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u5408 {
  position:absolute;
  left:437px;
  top:738px;
  width:116px;
  height:22px;
  text-align:left;
}
#u5409 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u5410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u5410 {
  position:absolute;
  left:437px;
  top:718px;
  width:116px;
  height:22px;
  text-align:left;
}
#u5411 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u5412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:537px;
}
#u5412 {
  position:absolute;
  left:652px;
  top:346px;
  width:601px;
  height:537px;
}
#u5413 {
  position:absolute;
  left:2px;
  top:260px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5412_ann {
  position:absolute;
  left:1246px;
  top:342px;
  width:1px;
  height:1px;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u5414 {
  position:absolute;
  left:823px;
  top:572px;
  width:116px;
  height:22px;
  text-align:left;
}
#u5415 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u5416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5416 {
  position:absolute;
  left:259px;
  top:915px;
  width:200px;
  height:200px;
}
#u5417 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5418 {
  position:absolute;
  left:275px;
  top:1125px;
  width:169px;
  height:16px;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:161px;
}
#u5420 {
  position:absolute;
  left:1238px;
  top:144px;
  width:223px;
  height:161px;
}
#u5421 {
  position:absolute;
  left:2px;
  top:72px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
}
#u5422 {
  position:absolute;
  left:1251px;
  top:150px;
  width:91px;
  height:21px;
  text-align:left;
}
#u5423 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u5424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u5424 {
  position:absolute;
  left:1251px;
  top:220px;
  width:141px;
  height:21px;
  text-align:left;
}
#u5425 {
  position:absolute;
  left:2px;
  top:2px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:93px;
}
#u5426 {
  position:absolute;
  left:719px;
  top:417px;
  width:525px;
  height:93px;
}
#u5427 {
  position:absolute;
  left:2px;
  top:38px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:91px;
}
#u5428 {
  position:absolute;
  left:717px;
  top:514px;
  width:527px;
  height:91px;
}
#u5429 {
  position:absolute;
  left:2px;
  top:38px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
