body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:487px;
  top:479px;
  width:100px;
  height:60px;
}
#u854 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:214px;
  top:479px;
  width:100px;
  height:60px;
}
#u856 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:953px;
  top:479px;
  width:100px;
  height:60px;
}
#u858 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:214px;
  top:729px;
  width:100px;
  height:60px;
}
#u860 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:953px;
  top:729px;
  width:100px;
  height:60px;
}
#u862 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:487px;
  top:219px;
  width:100px;
  height:60px;
}
#u864 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:214px;
  top:219px;
  width:100px;
  height:60px;
}
#u866 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:815px;
  top:219px;
  width:100px;
  height:60px;
}
#u868 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:487px;
  top:975px;
  width:100px;
  height:60px;
}
#u870 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:953px;
  top:975px;
  width:100px;
  height:60px;
}
#u872 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u873 {
  position:absolute;
  left:726px;
  top:479px;
  width:100px;
  height:60px;
}
#u874 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:587px;
  top:509px;
  width:0px;
  height:0px;
}
#u875_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:139px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u876 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u877 {
  position:absolute;
  left:826px;
  top:509px;
  width:0px;
  height:0px;
}
#u877_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:127px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u878 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u879 {
  position:absolute;
  left:351px;
  top:479px;
  width:100px;
  height:60px;
}
#u880 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u881 {
  position:absolute;
  left:487px;
  top:509px;
  width:0px;
  height:0px;
}
#u881_seg0 {
  position:absolute;
  left:-36px;
  top:-3px;
  width:36px;
  height:6px;
}
#u882 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:351px;
  top:509px;
  width:0px;
  height:0px;
}
#u883_seg0 {
  position:absolute;
  left:-37px;
  top:-3px;
  width:37px;
  height:6px;
}
#u884 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u885 {
  position:absolute;
  left:214px;
  top:599px;
  width:100px;
  height:60px;
}
#u886 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u887 {
  position:absolute;
  left:264px;
  top:659px;
  width:0px;
  height:0px;
}
#u887_seg0 {
  position:absolute;
  left:-35px;
  top:32px;
  width:70px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u888 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u889 {
  position:absolute;
  left:264px;
  top:599px;
  width:0px;
  height:0px;
}
#u889_seg0 {
  position:absolute;
  left:-30px;
  top:-33px;
  width:60px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u890 {
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u891 {
  position:absolute;
  left:594px;
  top:729px;
  width:100px;
  height:60px;
}
#u892 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:314px;
  top:759px;
  width:0px;
  height:0px;
}
#u893_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:280px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u894 {
  position:absolute;
  left:90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u895 {
  position:absolute;
  left:694px;
  top:759px;
  width:0px;
  height:0px;
}
#u895_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:259px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u896 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u897 {
  position:absolute;
  left:351px;
  top:841px;
  width:100px;
  height:60px;
}
#u898 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:314px;
  top:759px;
  width:0px;
  height:0px;
}
#u899_seg0 {
  position:absolute;
  left:-16px;
  top:37px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(-136.694647068537deg);
  -moz-transform:rotate(-136.694647068537deg);
  -ms-transform:rotate(-136.694647068537deg);
  transform:rotate(-136.694647068537deg);
}
#u900 {
  position:absolute;
  left:-6px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
#u901 {
  position:absolute;
  left:401px;
  top:901px;
  width:0px;
  height:0px;
}
#u901_seg0 {
  position:absolute;
  left:-9px;
  top:33px;
  width:155px;
  height:8px;
  -webkit-transform:rotate(-151.44860812704deg);
  -moz-transform:rotate(-151.44860812704deg);
  -ms-transform:rotate(-151.44860812704deg);
  transform:rotate(-151.44860812704deg);
}
#u902 {
  position:absolute;
  left:18px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u903 {
  position:absolute;
  left:726px;
  top:975px;
  width:100px;
  height:60px;
}
#u904 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u905 {
  position:absolute;
  left:587px;
  top:1005px;
  width:0px;
  height:0px;
}
#u905_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:139px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u906 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u907 {
  position:absolute;
  left:826px;
  top:1005px;
  width:0px;
  height:0px;
}
#u907_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:127px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u908 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u909 {
  position:absolute;
  left:307px;
  top:342px;
  width:100px;
  height:60px;
}
#u910 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u911 {
  position:absolute;
  left:487px;
  top:342px;
  width:100px;
  height:60px;
}
#u912 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u913 {
  position:absolute;
  left:670px;
  top:349px;
  width:100px;
  height:60px;
}
#u914 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:264px;
  top:279px;
  width:0px;
  height:0px;
}
#u915_seg0 {
  position:absolute;
  left:-10px;
  top:27px;
  width:112px;
  height:8px;
  -webkit-transform:rotate(-145.885527054659deg);
  -moz-transform:rotate(-145.885527054659deg);
  -ms-transform:rotate(-145.885527054659deg);
  transform:rotate(-145.885527054659deg);
}
#u916 {
  position:absolute;
  left:-3px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:357px;
  top:402px;
  width:0px;
  height:0px;
}
#u917_seg0 {
  position:absolute;
  left:-8px;
  top:35px;
  width:196px;
  height:8px;
  -webkit-transform:rotate(-156.839837233449deg);
  -moz-transform:rotate(-156.839837233449deg);
  -ms-transform:rotate(-156.839837233449deg);
  transform:rotate(-156.839837233449deg);
}
#u918 {
  position:absolute;
  left:40px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:537px;
  top:279px;
  width:0px;
  height:0px;
}
#u919_seg0 {
  position:absolute;
  left:-32px;
  top:29px;
  width:63px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u920 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:537px;
  top:402px;
  width:0px;
  height:0px;
}
#u921_seg0 {
  position:absolute;
  left:-39px;
  top:36px;
  width:77px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u922 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:865px;
  top:279px;
  width:0px;
  height:0px;
}
#u923_seg0 {
  position:absolute;
  left:-153px;
  top:31px;
  width:161px;
  height:8px;
  -webkit-transform:rotate(-25.7693276243387deg);
  -moz-transform:rotate(-25.7693276243387deg);
  -ms-transform:rotate(-25.7693276243387deg);
  transform:rotate(-25.7693276243387deg);
}
#u924 {
  position:absolute;
  left:-122px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u925 {
  position:absolute;
  left:720px;
  top:409px;
  width:0px;
  height:0px;
}
#u925_seg0 {
  position:absolute;
  left:-189px;
  top:31px;
  width:196px;
  height:8px;
  -webkit-transform:rotate(-20.9325353651031deg);
  -moz-transform:rotate(-20.9325353651031deg);
  -ms-transform:rotate(-20.9325353651031deg);
  transform:rotate(-20.9325353651031deg);
}
#u926 {
  position:absolute;
  left:-141px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u927 {
  position:absolute;
  left:417px;
  top:591px;
  width:65px;
  height:39px;
}
#u928 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u929 {
  position:absolute;
  left:492px;
  top:591px;
  width:65px;
  height:39px;
}
#u930 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u931 {
  position:absolute;
  left:567px;
  top:591px;
  width:65px;
  height:39px;
}
#u932 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u933 {
  position:absolute;
  left:642px;
  top:591px;
  width:65px;
  height:39px;
}
#u934 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u935 {
  position:absolute;
  left:717px;
  top:591px;
  width:65px;
  height:39px;
}
#u936 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u937 {
  position:absolute;
  left:792px;
  top:591px;
  width:65px;
  height:39px;
}
#u938 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u939_seg0 {
  position:absolute;
  left:-94px;
  top:22px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(-30.8668094511371deg);
  -moz-transform:rotate(-30.8668094511371deg);
  -ms-transform:rotate(-30.8668094511371deg);
  transform:rotate(-30.8668094511371deg);
}
#u940 {
  position:absolute;
  left:-93px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u941_seg0 {
  position:absolute;
  left:-33px;
  top:22px;
  width:53px;
  height:7px;
  -webkit-transform:rotate(-77.0053832080835deg);
  -moz-transform:rotate(-77.0053832080835deg);
  -ms-transform:rotate(-77.0053832080835deg);
  transform:rotate(-77.0053832080835deg);
}
#u942 {
  position:absolute;
  left:-56px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u943_seg0 {
  position:absolute;
  left:-9px;
  top:22px;
  width:82px;
  height:8px;
  -webkit-transform:rotate(-140.463842813237deg);
  -moz-transform:rotate(-140.463842813237deg);
  -ms-transform:rotate(-140.463842813237deg);
  transform:rotate(-140.463842813237deg);
}
#u944 {
  position:absolute;
  left:-18px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u945_seg0 {
  position:absolute;
  left:-5px;
  top:22px;
  width:147px;
  height:8px;
  -webkit-transform:rotate(-159.35300917503deg);
  -moz-transform:rotate(-159.35300917503deg);
  -ms-transform:rotate(-159.35300917503deg);
  transform:rotate(-159.35300917503deg);
}
#u946 {
  position:absolute;
  left:19px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u947_seg0 {
  position:absolute;
  left:-3px;
  top:22px;
  width:219px;
  height:7px;
  -webkit-transform:rotate(-166.280654735978deg);
  -moz-transform:rotate(-166.280654735978deg);
  -ms-transform:rotate(-166.280654735978deg);
  transform:rotate(-166.280654735978deg);
}
#u948 {
  position:absolute;
  left:57px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u949_seg0 {
  position:absolute;
  left:-2px;
  top:23px;
  width:293px;
  height:7px;
  -webkit-transform:rotate(-169.765197236577deg);
  -moz-transform:rotate(-169.765197236577deg);
  -ms-transform:rotate(-169.765197236577deg);
  transform:rotate(-169.765197236577deg);
}
#u950 {
  position:absolute;
  left:94px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u951 {
  position:absolute;
  left:1136px;
  top:360px;
  width:65px;
  height:39px;
}
#u952 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u953 {
  position:absolute;
  left:1136px;
  top:409px;
  width:65px;
  height:39px;
}
#u954 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u955 {
  position:absolute;
  left:1136px;
  top:458px;
  width:65px;
  height:39px;
}
#u956 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u957 {
  position:absolute;
  left:1136px;
  top:504px;
  width:65px;
  height:39px;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u959 {
  position:absolute;
  left:1136px;
  top:550px;
  width:65px;
  height:39px;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u961 {
  position:absolute;
  left:1136px;
  top:599px;
  width:65px;
  height:39px;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u963_seg0 {
  position:absolute;
  left:-35px;
  top:-69px;
  width:153px;
  height:8px;
  -webkit-transform:rotate(122.757668801126deg);
  -moz-transform:rotate(122.757668801126deg);
  -ms-transform:rotate(122.757668801126deg);
  transform:rotate(122.757668801126deg);
}
#u964 {
  position:absolute;
  left:-8px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u965_seg0 {
  position:absolute;
  left:-16px;
  top:-44px;
  width:115px;
  height:8px;
  -webkit-transform:rotate(136.054404503522deg);
  -moz-transform:rotate(136.054404503522deg);
  -ms-transform:rotate(136.054404503522deg);
  transform:rotate(136.054404503522deg);
}
#u966 {
  position:absolute;
  left:-8px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u967_seg0 {
  position:absolute;
  left:-3px;
  top:-19px;
  width:89px;
  height:8px;
  -webkit-transform:rotate(159.519642688191deg);
  -moz-transform:rotate(159.519642688191deg);
  -ms-transform:rotate(159.519642688191deg);
  transform:rotate(159.519642688191deg);
}
#u968 {
  position:absolute;
  left:-8px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u969_seg0 {
  position:absolute;
  left:-1px;
  top:4px;
  width:84px;
  height:7px;
  -webkit-transform:rotate(-169.755912553541deg);
  -moz-transform:rotate(-169.755912553541deg);
  -ms-transform:rotate(-169.755912553541deg);
  transform:rotate(-169.755912553541deg);
}
#u970 {
  position:absolute;
  left:-8px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u971_seg0 {
  position:absolute;
  left:-10px;
  top:26px;
  width:103px;
  height:8px;
  -webkit-transform:rotate(-143.686354581237deg);
  -moz-transform:rotate(-143.686354581237deg);
  -ms-transform:rotate(-143.686354581237deg);
  transform:rotate(-143.686354581237deg);
}
#u972 {
  position:absolute;
  left:-8px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u973_seg0 {
  position:absolute;
  left:-27px;
  top:51px;
  width:138px;
  height:8px;
  -webkit-transform:rotate(-127.036212939281deg);
  -moz-transform:rotate(-127.036212939281deg);
  -ms-transform:rotate(-127.036212939281deg);
  transform:rotate(-127.036212939281deg);
}
#u974 {
  position:absolute;
  left:-8px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u975 {
  position:absolute;
  left:36px;
  top:461px;
  width:65px;
  height:39px;
}
#u976 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u977 {
  position:absolute;
  left:36px;
  top:505px;
  width:65px;
  height:39px;
}
#u978 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:214px;
  top:509px;
  width:0px;
  height:0px;
}
#u979_seg0 {
  position:absolute;
  left:-115px;
  top:-18px;
  width:116px;
  height:7px;
  -webkit-transform:rotate(13.9168774333013deg);
  -moz-transform:rotate(13.9168774333013deg);
  -ms-transform:rotate(13.9168774333013deg);
  transform:rotate(13.9168774333013deg);
}
#u980 {
  position:absolute;
  left:-106px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981 {
  position:absolute;
  left:214px;
  top:509px;
  width:0px;
  height:0px;
}
#u981_seg0 {
  position:absolute;
  left:-114px;
  top:5px;
  width:114px;
  height:7px;
  -webkit-transform:rotate(-8.05910390287096deg);
  -moz-transform:rotate(-8.05910390287096deg);
  -ms-transform:rotate(-8.05910390287096deg);
  transform:rotate(-8.05910390287096deg);
}
#u982 {
  position:absolute;
  left:-106px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u983 {
  position:absolute;
  left:36px;
  top:636px;
  width:65px;
  height:39px;
}
#u984 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u985 {
  position:absolute;
  left:36px;
  top:681px;
  width:65px;
  height:39px;
}
#u986 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u987 {
  position:absolute;
  left:36px;
  top:724px;
  width:65px;
  height:39px;
}
#u988 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u989 {
  position:absolute;
  left:36px;
  top:768px;
  width:65px;
  height:39px;
}
#u990 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u991 {
  position:absolute;
  left:36px;
  top:813px;
  width:65px;
  height:39px;
}
#u992 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u993_seg0 {
  position:absolute;
  left:-133px;
  top:-56px;
  width:153px;
  height:8px;
  -webkit-transform:rotate(42.3493103165782deg);
  -moz-transform:rotate(42.3493103165782deg);
  -ms-transform:rotate(42.3493103165782deg);
  transform:rotate(42.3493103165782deg);
}
#u994 {
  position:absolute;
  left:-106px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u995_seg0 {
  position:absolute;
  left:-120px;
  top:-33px;
  width:127px;
  height:8px;
  -webkit-transform:rotate(27.1702657743228deg);
  -moz-transform:rotate(27.1702657743228deg);
  -ms-transform:rotate(27.1702657743228deg);
  transform:rotate(27.1702657743228deg);
}
#u996 {
  position:absolute;
  left:-106px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u997_seg0 {
  position:absolute;
  left:-113px;
  top:-11px;
  width:114px;
  height:7px;
  -webkit-transform:rotate(7.56142842766696deg);
  -moz-transform:rotate(7.56142842766696deg);
  -ms-transform:rotate(7.56142842766696deg);
  transform:rotate(7.56142842766696deg);
}
#u998 {
  position:absolute;
  left:-106px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u999_seg0 {
  position:absolute;
  left:-115px;
  top:11px;
  width:117px;
  height:7px;
  -webkit-transform:rotate(-14.3935929684905deg);
  -moz-transform:rotate(-14.3935929684905deg);
  -ms-transform:rotate(-14.3935929684905deg);
  transform:rotate(-14.3935929684905deg);
}
#u1000 {
  position:absolute;
  left:-106px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u1001_seg0 {
  position:absolute;
  left:-124px;
  top:33px;
  width:135px;
  height:8px;
  -webkit-transform:rotate(-33.2194762230846deg);
  -moz-transform:rotate(-33.2194762230846deg);
  -ms-transform:rotate(-33.2194762230846deg);
  transform:rotate(-33.2194762230846deg);
}
#u1002 {
  position:absolute;
  left:-106px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1003 {
  position:absolute;
  left:1136px;
  top:684px;
  width:65px;
  height:39px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1005 {
  position:absolute;
  left:1136px;
  top:730px;
  width:65px;
  height:39px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1007 {
  position:absolute;
  left:1136px;
  top:774px;
  width:65px;
  height:39px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1009 {
  position:absolute;
  left:1136px;
  top:819px;
  width:65px;
  height:39px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1011 {
  position:absolute;
  left:1136px;
  top:864px;
  width:65px;
  height:39px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1013 {
  position:absolute;
  left:1136px;
  top:704px;
  width:0px;
  height:0px;
}
#u1013_seg0 {
  position:absolute;
  left:-91px;
  top:23px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(-33.5304696671331deg);
  -moz-transform:rotate(-33.5304696671331deg);
  -ms-transform:rotate(-33.5304696671331deg);
  transform:rotate(-33.5304696671331deg);
}
#u1014 {
  position:absolute;
  left:-91px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015 {
  position:absolute;
  left:1136px;
  top:750px;
  width:0px;
  height:0px;
}
#u1015_seg0 {
  position:absolute;
  left:-83px;
  top:1px;
  width:83px;
  height:7px;
  -webkit-transform:rotate(-6.1886159632416deg);
  -moz-transform:rotate(-6.1886159632416deg);
  -ms-transform:rotate(-6.1886159632416deg);
  transform:rotate(-6.1886159632416deg);
}
#u1016 {
  position:absolute;
  left:-91px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:1136px;
  top:794px;
  width:0px;
  height:0px;
}
#u1017_seg0 {
  position:absolute;
  left:-83px;
  top:-20px;
  width:86px;
  height:8px;
  -webkit-transform:rotate(21.8014094863518deg);
  -moz-transform:rotate(21.8014094863518deg);
  -ms-transform:rotate(21.8014094863518deg);
  transform:rotate(21.8014094863518deg);
}
#u1018 {
  position:absolute;
  left:-90px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:1136px;
  top:839px;
  width:0px;
  height:0px;
}
#u1019_seg0 {
  position:absolute;
  left:-99px;
  top:-44px;
  width:115px;
  height:8px;
  -webkit-transform:rotate(43.9455954964782deg);
  -moz-transform:rotate(43.9455954964782deg);
  -ms-transform:rotate(43.9455954964782deg);
  transform:rotate(43.9455954964782deg);
}
#u1020 {
  position:absolute;
  left:-91px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021 {
  position:absolute;
  left:1136px;
  top:884px;
  width:0px;
  height:0px;
}
#u1021_seg0 {
  position:absolute;
  left:-117px;
  top:-67px;
  width:150px;
  height:8px;
  -webkit-transform:rotate(56.415839524407deg);
  -moz-transform:rotate(56.415839524407deg);
  -ms-transform:rotate(56.415839524407deg);
  transform:rotate(56.415839524407deg);
}
#u1022 {
  position:absolute;
  left:-91px;
  top:-70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1023 {
  position:absolute;
  left:248px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1025 {
  position:absolute;
  left:323px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1027 {
  position:absolute;
  left:394px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1029 {
  position:absolute;
  left:469px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1031 {
  position:absolute;
  left:544px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1033 {
  position:absolute;
  left:619px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1035 {
  position:absolute;
  left:694px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1037 {
  position:absolute;
  left:769px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1039_seg0 {
  position:absolute;
  left:-260px;
  top:30px;
  width:265px;
  height:7px;
  -webkit-transform:rotate(-14.6664191137866deg);
  -moz-transform:rotate(-14.6664191137866deg);
  -ms-transform:rotate(-14.6664191137866deg);
  transform:rotate(-14.6664191137866deg);
}
#u1040 {
  position:absolute;
  left:-178px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1041_seg0 {
  position:absolute;
  left:-187px;
  top:30px;
  width:193px;
  height:8px;
  -webkit-transform:rotate(-20.3128262702074deg);
  -moz-transform:rotate(-20.3128262702074deg);
  -ms-transform:rotate(-20.3128262702074deg);
  transform:rotate(-20.3128262702074deg);
}
#u1042 {
  position:absolute;
  left:-140px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1043_seg0 {
  position:absolute;
  left:-119px;
  top:29px;
  width:129px;
  height:8px;
  -webkit-transform:rotate(-31.3452141417157deg);
  -moz-transform:rotate(-31.3452141417157deg);
  -ms-transform:rotate(-31.3452141417157deg);
  transform:rotate(-31.3452141417157deg);
}
#u1044 {
  position:absolute;
  left:-105px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1045_seg0 {
  position:absolute;
  left:-55px;
  top:29px;
  width:76px;
  height:8px;
  -webkit-transform:rotate(-62.4179707922028deg);
  -moz-transform:rotate(-62.4179707922028deg);
  -ms-transform:rotate(-62.4179707922028deg);
  transform:rotate(-62.4179707922028deg);
}
#u1046 {
  position:absolute;
  left:-67px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1047_seg0 {
  position:absolute;
  left:-19px;
  top:29px;
  width:78px;
  height:8px;
  -webkit-transform:rotate(-120.837831944687deg);
  -moz-transform:rotate(-120.837831944687deg);
  -ms-transform:rotate(-120.837831944687deg);
  transform:rotate(-120.837831944687deg);
}
#u1048 {
  position:absolute;
  left:-30px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1049_seg0 {
  position:absolute;
  left:-9px;
  top:29px;
  width:133px;
  height:8px;
  -webkit-transform:rotate(-149.774550275047deg);
  -moz-transform:rotate(-149.774550275047deg);
  -ms-transform:rotate(-149.774550275047deg);
  transform:rotate(-149.774550275047deg);
}
#u1050 {
  position:absolute;
  left:8px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1051_seg0 {
  position:absolute;
  left:-6px;
  top:30px;
  width:201px;
  height:8px;
  -webkit-transform:rotate(-160.575740441115deg);
  -moz-transform:rotate(-160.575740441115deg);
  -ms-transform:rotate(-160.575740441115deg);
  transform:rotate(-160.575740441115deg);
}
#u1052 {
  position:absolute;
  left:45px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1053_seg0 {
  position:absolute;
  left:-4px;
  top:30px;
  width:273px;
  height:7px;
  -webkit-transform:rotate(-165.81123928935deg);
  -moz-transform:rotate(-165.81123928935deg);
  -ms-transform:rotate(-165.81123928935deg);
  transform:rotate(-165.81123928935deg);
}
#u1054 {
  position:absolute;
  left:83px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1055 {
  position:absolute;
  left:896px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1057 {
  position:absolute;
  left:971px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1059 {
  position:absolute;
  left:1046px;
  top:1102px;
  width:65px;
  height:39px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1061_seg0 {
  position:absolute;
  left:-87px;
  top:29px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(-42.1578621163443deg);
  -moz-transform:rotate(-42.1578621163443deg);
  -ms-transform:rotate(-42.1578621163443deg);
  transform:rotate(-42.1578621163443deg);
}
#u1062 {
  position:absolute;
  left:-87px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1063_seg0 {
  position:absolute;
  left:-33px;
  top:30px;
  width:67px;
  height:6px;
  -webkit-transform:rotate(-90.8550973962667deg);
  -moz-transform:rotate(-90.8550973962667deg);
  -ms-transform:rotate(-90.8550973962667deg);
  transform:rotate(-90.8550973962667deg);
}
#u1064 {
  position:absolute;
  left:-49px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u1065_seg0 {
  position:absolute;
  left:-13px;
  top:29px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(-138.601278117223deg);
  -moz-transform:rotate(-138.601278117223deg);
  -ms-transform:rotate(-138.601278117223deg);
  transform:rotate(-138.601278117223deg);
}
#u1066 {
  position:absolute;
  left:-12px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1067 {
  position:absolute;
  left:78px;
  top:157px;
  width:65px;
  height:39px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1069 {
  position:absolute;
  left:78px;
  top:206px;
  width:65px;
  height:39px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1071 {
  position:absolute;
  left:78px;
  top:255px;
  width:65px;
  height:39px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1073 {
  position:absolute;
  left:78px;
  top:304px;
  width:65px;
  height:39px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u1075_seg0 {
  position:absolute;
  left:-86px;
  top:-40px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(45.4006632557922deg);
  -moz-transform:rotate(45.4006632557922deg);
  -ms-transform:rotate(45.4006632557922deg);
  transform:rotate(45.4006632557922deg);
}
#u1076 {
  position:absolute;
  left:-85px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u1077_seg0 {
  position:absolute;
  left:-73px;
  top:-15px;
  width:75px;
  height:8px;
  -webkit-transform:rotate(17.9494029929139deg);
  -moz-transform:rotate(17.9494029929139deg);
  -ms-transform:rotate(17.9494029929139deg);
  transform:rotate(17.9494029929139deg);
}
#u1078 {
  position:absolute;
  left:-85px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u1079_seg0 {
  position:absolute;
  left:-73px;
  top:9px;
  width:76px;
  height:8px;
  -webkit-transform:rotate(-20.1125882890755deg);
  -moz-transform:rotate(-20.1125882890755deg);
  -ms-transform:rotate(-20.1125882890755deg);
  transform:rotate(-20.1125882890755deg);
}
#u1080 {
  position:absolute;
  left:-85px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u1081_seg0 {
  position:absolute;
  left:-87px;
  top:33px;
  width:103px;
  height:8px;
  -webkit-transform:rotate(-46.569354804749deg);
  -moz-transform:rotate(-46.569354804749deg);
  -ms-transform:rotate(-46.569354804749deg);
  transform:rotate(-46.569354804749deg);
}
#u1082 {
  position:absolute;
  left:-85px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1083 {
  position:absolute;
  left:386px;
  top:93px;
  width:65px;
  height:39px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1085 {
  position:absolute;
  left:461px;
  top:93px;
  width:65px;
  height:39px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1087 {
  position:absolute;
  left:536px;
  top:93px;
  width:65px;
  height:39px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1089 {
  position:absolute;
  left:611px;
  top:93px;
  width:65px;
  height:39px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1091 {
  position:absolute;
  left:686px;
  top:93px;
  width:65px;
  height:39px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1093 {
  position:absolute;
  left:419px;
  top:132px;
  width:0px;
  height:0px;
}
#u1093_seg0 {
  position:absolute;
  left:-14px;
  top:39px;
  width:147px;
  height:8px;
  -webkit-transform:rotate(-143.599088710777deg);
  -moz-transform:rotate(-143.599088710777deg);
  -ms-transform:rotate(-143.599088710777deg);
  transform:rotate(-143.599088710777deg);
}
#u1094 {
  position:absolute;
  left:9px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095 {
  position:absolute;
  left:494px;
  top:132px;
  width:0px;
  height:0px;
}
#u1095_seg0 {
  position:absolute;
  left:-27px;
  top:39px;
  width:97px;
  height:8px;
  -webkit-transform:rotate(-116.301017195819deg);
  -moz-transform:rotate(-116.301017195819deg);
  -ms-transform:rotate(-116.301017195819deg);
  transform:rotate(-116.301017195819deg);
}
#u1096 {
  position:absolute;
  left:-28px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u1097_seg0 {
  position:absolute;
  left:-30px;
  top:-47px;
  width:93px;
  height:8px;
  -webkit-transform:rotate(110.194334245184deg);
  -moz-transform:rotate(110.194334245184deg);
  -ms-transform:rotate(110.194334245184deg);
  transform:rotate(110.194334245184deg);
}
#u1098 {
  position:absolute;
  left:-34px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u1099_seg0 {
  position:absolute;
  left:-15px;
  top:-48px;
  width:138px;
  height:8px;
  -webkit-transform:rotate(140.885987833028deg);
  -moz-transform:rotate(140.885987833028deg);
  -ms-transform:rotate(140.885987833028deg);
  transform:rotate(140.885987833028deg);
}
#u1100 {
  position:absolute;
  left:4px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u1101_seg0 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:202px;
  height:8px;
  -webkit-transform:rotate(154.451175364593deg);
  -moz-transform:rotate(154.451175364593deg);
  -ms-transform:rotate(154.451175364593deg);
  transform:rotate(154.451175364593deg);
}
#u1102 {
  position:absolute;
  left:41px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1103 {
  position:absolute;
  left:1029px;
  top:93px;
  width:65px;
  height:39px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1105 {
  position:absolute;
  left:804px;
  top:93px;
  width:65px;
  height:39px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1107 {
  position:absolute;
  left:879px;
  top:93px;
  width:65px;
  height:39px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1109 {
  position:absolute;
  left:954px;
  top:93px;
  width:65px;
  height:39px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1111 {
  position:absolute;
  left:837px;
  top:132px;
  width:0px;
  height:0px;
}
#u1111_seg0 {
  position:absolute;
  left:-32px;
  top:40px;
  width:91px;
  height:8px;
  -webkit-transform:rotate(-107.840204307704deg);
  -moz-transform:rotate(-107.840204307704deg);
  -ms-transform:rotate(-107.840204307704deg);
  transform:rotate(-107.840204307704deg);
}
#u1112 {
  position:absolute;
  left:-36px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u1113_seg0 {
  position:absolute;
  left:-26px;
  top:-48px;
  width:99px;
  height:8px;
  -webkit-transform:rotate(118.379243086108deg);
  -moz-transform:rotate(118.379243086108deg);
  -ms-transform:rotate(118.379243086108deg);
  transform:rotate(118.379243086108deg);
}
#u1114 {
  position:absolute;
  left:-26px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u1115_seg0 {
  position:absolute;
  left:-14px;
  top:-48px;
  width:150px;
  height:8px;
  -webkit-transform:rotate(144.506771989266deg);
  -moz-transform:rotate(144.506771989266deg);
  -ms-transform:rotate(144.506771989266deg);
  transform:rotate(144.506771989266deg);
}
#u1116 {
  position:absolute;
  left:11px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u1117_seg0 {
  position:absolute;
  left:-9px;
  top:-47px;
  width:215px;
  height:8px;
  -webkit-transform:rotate(156.17257861943deg);
  -moz-transform:rotate(156.17257861943deg);
  -ms-transform:rotate(156.17257861943deg);
  transform:rotate(156.17257861943deg);
}
#u1118 {
  position:absolute;
  left:49px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u1119 {
  position:absolute;
  left:867px;
  top:591px;
  width:65px;
  height:39px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u1121 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u1121_seg0 {
  position:absolute;
  left:-2px;
  top:23px;
  width:367px;
  height:7px;
  -webkit-transform:rotate(-171.84780131855deg);
  -moz-transform:rotate(-171.84780131855deg);
  -ms-transform:rotate(-171.84780131855deg);
  transform:rotate(-171.84780131855deg);
}
#u1122 {
  position:absolute;
  left:132px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
