body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:487px;
  top:479px;
  width:100px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:214px;
  top:479px;
  width:100px;
  height:60px;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:953px;
  top:479px;
  width:100px;
  height:60px;
}
#u233 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:214px;
  top:729px;
  width:100px;
  height:60px;
}
#u235 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:953px;
  top:729px;
  width:100px;
  height:60px;
}
#u237 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:487px;
  top:219px;
  width:100px;
  height:60px;
}
#u239 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:214px;
  top:219px;
  width:100px;
  height:60px;
}
#u241 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  position:absolute;
  left:815px;
  top:219px;
  width:100px;
  height:60px;
}
#u243 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:487px;
  top:975px;
  width:100px;
  height:60px;
}
#u245 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:953px;
  top:975px;
  width:100px;
  height:60px;
}
#u247 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u248 {
  position:absolute;
  left:726px;
  top:479px;
  width:100px;
  height:60px;
}
#u249 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:587px;
  top:509px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:139px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u251 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:826px;
  top:509px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:127px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u253 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u254 {
  position:absolute;
  left:351px;
  top:479px;
  width:100px;
  height:60px;
}
#u255 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:487px;
  top:509px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  position:absolute;
  left:-36px;
  top:-3px;
  width:36px;
  height:6px;
}
#u257 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:351px;
  top:509px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:-37px;
  top:-3px;
  width:37px;
  height:6px;
}
#u259 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u260 {
  position:absolute;
  left:214px;
  top:599px;
  width:100px;
  height:60px;
}
#u261 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:264px;
  top:659px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  position:absolute;
  left:-35px;
  top:32px;
  width:70px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u263 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:264px;
  top:599px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  position:absolute;
  left:-30px;
  top:-33px;
  width:60px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u265 {
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u266 {
  position:absolute;
  left:594px;
  top:729px;
  width:100px;
  height:60px;
}
#u267 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:314px;
  top:759px;
  width:0px;
  height:0px;
}
#u268_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:280px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u269 {
  position:absolute;
  left:90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:694px;
  top:759px;
  width:0px;
  height:0px;
}
#u270_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:259px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u271 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u272 {
  position:absolute;
  left:351px;
  top:841px;
  width:100px;
  height:60px;
}
#u273 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:314px;
  top:759px;
  width:0px;
  height:0px;
}
#u274_seg0 {
  position:absolute;
  left:-16px;
  top:37px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(-136.694647068537deg);
  -moz-transform:rotate(-136.694647068537deg);
  -ms-transform:rotate(-136.694647068537deg);
  transform:rotate(-136.694647068537deg);
}
#u275 {
  position:absolute;
  left:-6px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:401px;
  top:901px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  position:absolute;
  left:-9px;
  top:33px;
  width:155px;
  height:8px;
  -webkit-transform:rotate(-151.44860812704deg);
  -moz-transform:rotate(-151.44860812704deg);
  -ms-transform:rotate(-151.44860812704deg);
  transform:rotate(-151.44860812704deg);
}
#u277 {
  position:absolute;
  left:18px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u278 {
  position:absolute;
  left:726px;
  top:975px;
  width:100px;
  height:60px;
}
#u279 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:587px;
  top:1005px;
  width:0px;
  height:0px;
}
#u280_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:139px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u281 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:826px;
  top:1005px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:127px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u283 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u284 {
  position:absolute;
  left:307px;
  top:342px;
  width:100px;
  height:60px;
}
#u285 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u286 {
  position:absolute;
  left:487px;
  top:342px;
  width:100px;
  height:60px;
}
#u287 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u288 {
  position:absolute;
  left:670px;
  top:349px;
  width:100px;
  height:60px;
}
#u289 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:264px;
  top:279px;
  width:0px;
  height:0px;
}
#u290_seg0 {
  position:absolute;
  left:-10px;
  top:27px;
  width:112px;
  height:8px;
  -webkit-transform:rotate(-145.885527054659deg);
  -moz-transform:rotate(-145.885527054659deg);
  -ms-transform:rotate(-145.885527054659deg);
  transform:rotate(-145.885527054659deg);
}
#u291 {
  position:absolute;
  left:-3px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:357px;
  top:402px;
  width:0px;
  height:0px;
}
#u292_seg0 {
  position:absolute;
  left:-8px;
  top:35px;
  width:196px;
  height:8px;
  -webkit-transform:rotate(-156.839837233449deg);
  -moz-transform:rotate(-156.839837233449deg);
  -ms-transform:rotate(-156.839837233449deg);
  transform:rotate(-156.839837233449deg);
}
#u293 {
  position:absolute;
  left:40px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:537px;
  top:279px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  position:absolute;
  left:-32px;
  top:29px;
  width:63px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u295 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:537px;
  top:402px;
  width:0px;
  height:0px;
}
#u296_seg0 {
  position:absolute;
  left:-39px;
  top:36px;
  width:77px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u297 {
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:865px;
  top:279px;
  width:0px;
  height:0px;
}
#u298_seg0 {
  position:absolute;
  left:-153px;
  top:31px;
  width:161px;
  height:8px;
  -webkit-transform:rotate(-25.7693276243387deg);
  -moz-transform:rotate(-25.7693276243387deg);
  -ms-transform:rotate(-25.7693276243387deg);
  transform:rotate(-25.7693276243387deg);
}
#u299 {
  position:absolute;
  left:-122px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:720px;
  top:409px;
  width:0px;
  height:0px;
}
#u300_seg0 {
  position:absolute;
  left:-189px;
  top:31px;
  width:196px;
  height:8px;
  -webkit-transform:rotate(-20.9325353651031deg);
  -moz-transform:rotate(-20.9325353651031deg);
  -ms-transform:rotate(-20.9325353651031deg);
  transform:rotate(-20.9325353651031deg);
}
#u301 {
  position:absolute;
  left:-141px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u302 {
  position:absolute;
  left:417px;
  top:591px;
  width:65px;
  height:39px;
}
#u303 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u304 {
  position:absolute;
  left:492px;
  top:591px;
  width:65px;
  height:39px;
}
#u305 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u306 {
  position:absolute;
  left:567px;
  top:591px;
  width:65px;
  height:39px;
}
#u307 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u308 {
  position:absolute;
  left:642px;
  top:591px;
  width:65px;
  height:39px;
}
#u309 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u310 {
  position:absolute;
  left:717px;
  top:591px;
  width:65px;
  height:39px;
}
#u311 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u312 {
  position:absolute;
  left:792px;
  top:591px;
  width:65px;
  height:39px;
}
#u313 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u314_seg0 {
  position:absolute;
  left:-94px;
  top:22px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(-30.8668094511371deg);
  -moz-transform:rotate(-30.8668094511371deg);
  -ms-transform:rotate(-30.8668094511371deg);
  transform:rotate(-30.8668094511371deg);
}
#u315 {
  position:absolute;
  left:-93px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u316_seg0 {
  position:absolute;
  left:-33px;
  top:22px;
  width:53px;
  height:7px;
  -webkit-transform:rotate(-77.0053832080835deg);
  -moz-transform:rotate(-77.0053832080835deg);
  -ms-transform:rotate(-77.0053832080835deg);
  transform:rotate(-77.0053832080835deg);
}
#u317 {
  position:absolute;
  left:-56px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u318_seg0 {
  position:absolute;
  left:-9px;
  top:22px;
  width:82px;
  height:8px;
  -webkit-transform:rotate(-140.463842813237deg);
  -moz-transform:rotate(-140.463842813237deg);
  -ms-transform:rotate(-140.463842813237deg);
  transform:rotate(-140.463842813237deg);
}
#u319 {
  position:absolute;
  left:-18px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u320_seg0 {
  position:absolute;
  left:-5px;
  top:22px;
  width:147px;
  height:8px;
  -webkit-transform:rotate(-159.35300917503deg);
  -moz-transform:rotate(-159.35300917503deg);
  -ms-transform:rotate(-159.35300917503deg);
  transform:rotate(-159.35300917503deg);
}
#u321 {
  position:absolute;
  left:19px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u322_seg0 {
  position:absolute;
  left:-3px;
  top:22px;
  width:219px;
  height:7px;
  -webkit-transform:rotate(-166.280654735978deg);
  -moz-transform:rotate(-166.280654735978deg);
  -ms-transform:rotate(-166.280654735978deg);
  transform:rotate(-166.280654735978deg);
}
#u323 {
  position:absolute;
  left:57px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u324_seg0 {
  position:absolute;
  left:-2px;
  top:23px;
  width:293px;
  height:7px;
  -webkit-transform:rotate(-169.765197236577deg);
  -moz-transform:rotate(-169.765197236577deg);
  -ms-transform:rotate(-169.765197236577deg);
  transform:rotate(-169.765197236577deg);
}
#u325 {
  position:absolute;
  left:94px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u326 {
  position:absolute;
  left:1136px;
  top:360px;
  width:65px;
  height:39px;
}
#u327 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u328 {
  position:absolute;
  left:1136px;
  top:409px;
  width:65px;
  height:39px;
}
#u329 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u330 {
  position:absolute;
  left:1136px;
  top:458px;
  width:65px;
  height:39px;
}
#u331 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u332 {
  position:absolute;
  left:1136px;
  top:504px;
  width:65px;
  height:39px;
}
#u333 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u334 {
  position:absolute;
  left:1136px;
  top:550px;
  width:65px;
  height:39px;
}
#u335 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u336 {
  position:absolute;
  left:1136px;
  top:599px;
  width:65px;
  height:39px;
}
#u337 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u338_seg0 {
  position:absolute;
  left:-35px;
  top:-69px;
  width:153px;
  height:8px;
  -webkit-transform:rotate(122.757668801126deg);
  -moz-transform:rotate(122.757668801126deg);
  -ms-transform:rotate(122.757668801126deg);
  transform:rotate(122.757668801126deg);
}
#u339 {
  position:absolute;
  left:-8px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u340_seg0 {
  position:absolute;
  left:-16px;
  top:-44px;
  width:115px;
  height:8px;
  -webkit-transform:rotate(136.054404503522deg);
  -moz-transform:rotate(136.054404503522deg);
  -ms-transform:rotate(136.054404503522deg);
  transform:rotate(136.054404503522deg);
}
#u341 {
  position:absolute;
  left:-8px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  position:absolute;
  left:-3px;
  top:-19px;
  width:89px;
  height:8px;
  -webkit-transform:rotate(159.519642688191deg);
  -moz-transform:rotate(159.519642688191deg);
  -ms-transform:rotate(159.519642688191deg);
  transform:rotate(159.519642688191deg);
}
#u343 {
  position:absolute;
  left:-8px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u344_seg0 {
  position:absolute;
  left:-1px;
  top:4px;
  width:84px;
  height:7px;
  -webkit-transform:rotate(-169.755912553541deg);
  -moz-transform:rotate(-169.755912553541deg);
  -ms-transform:rotate(-169.755912553541deg);
  transform:rotate(-169.755912553541deg);
}
#u345 {
  position:absolute;
  left:-8px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u346_seg0 {
  position:absolute;
  left:-10px;
  top:26px;
  width:103px;
  height:8px;
  -webkit-transform:rotate(-143.686354581237deg);
  -moz-transform:rotate(-143.686354581237deg);
  -ms-transform:rotate(-143.686354581237deg);
  transform:rotate(-143.686354581237deg);
}
#u347 {
  position:absolute;
  left:-8px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:1053px;
  top:509px;
  width:0px;
  height:0px;
}
#u348_seg0 {
  position:absolute;
  left:-27px;
  top:51px;
  width:138px;
  height:8px;
  -webkit-transform:rotate(-127.036212939281deg);
  -moz-transform:rotate(-127.036212939281deg);
  -ms-transform:rotate(-127.036212939281deg);
  transform:rotate(-127.036212939281deg);
}
#u349 {
  position:absolute;
  left:-8px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u350 {
  position:absolute;
  left:36px;
  top:461px;
  width:65px;
  height:39px;
}
#u351 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u352 {
  position:absolute;
  left:36px;
  top:505px;
  width:65px;
  height:39px;
}
#u353 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u354 {
  position:absolute;
  left:214px;
  top:509px;
  width:0px;
  height:0px;
}
#u354_seg0 {
  position:absolute;
  left:-115px;
  top:-18px;
  width:116px;
  height:7px;
  -webkit-transform:rotate(13.9168774333013deg);
  -moz-transform:rotate(13.9168774333013deg);
  -ms-transform:rotate(13.9168774333013deg);
  transform:rotate(13.9168774333013deg);
}
#u355 {
  position:absolute;
  left:-106px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356 {
  position:absolute;
  left:214px;
  top:509px;
  width:0px;
  height:0px;
}
#u356_seg0 {
  position:absolute;
  left:-114px;
  top:5px;
  width:114px;
  height:7px;
  -webkit-transform:rotate(-8.05910390287096deg);
  -moz-transform:rotate(-8.05910390287096deg);
  -ms-transform:rotate(-8.05910390287096deg);
  transform:rotate(-8.05910390287096deg);
}
#u357 {
  position:absolute;
  left:-106px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u358 {
  position:absolute;
  left:36px;
  top:636px;
  width:65px;
  height:39px;
}
#u359 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u360 {
  position:absolute;
  left:36px;
  top:681px;
  width:65px;
  height:39px;
}
#u361 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u362 {
  position:absolute;
  left:36px;
  top:724px;
  width:65px;
  height:39px;
}
#u363 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u364 {
  position:absolute;
  left:36px;
  top:768px;
  width:65px;
  height:39px;
}
#u365 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u366 {
  position:absolute;
  left:36px;
  top:813px;
  width:65px;
  height:39px;
}
#u367 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u368 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u368_seg0 {
  position:absolute;
  left:-133px;
  top:-56px;
  width:153px;
  height:8px;
  -webkit-transform:rotate(42.3493103165782deg);
  -moz-transform:rotate(42.3493103165782deg);
  -ms-transform:rotate(42.3493103165782deg);
  transform:rotate(42.3493103165782deg);
}
#u369 {
  position:absolute;
  left:-106px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u370_seg0 {
  position:absolute;
  left:-120px;
  top:-33px;
  width:127px;
  height:8px;
  -webkit-transform:rotate(27.1702657743228deg);
  -moz-transform:rotate(27.1702657743228deg);
  -ms-transform:rotate(27.1702657743228deg);
  transform:rotate(27.1702657743228deg);
}
#u371 {
  position:absolute;
  left:-106px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u372_seg0 {
  position:absolute;
  left:-113px;
  top:-11px;
  width:114px;
  height:7px;
  -webkit-transform:rotate(7.56142842766696deg);
  -moz-transform:rotate(7.56142842766696deg);
  -ms-transform:rotate(7.56142842766696deg);
  transform:rotate(7.56142842766696deg);
}
#u373 {
  position:absolute;
  left:-106px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u374_seg0 {
  position:absolute;
  left:-115px;
  top:11px;
  width:117px;
  height:7px;
  -webkit-transform:rotate(-14.3935929684905deg);
  -moz-transform:rotate(-14.3935929684905deg);
  -ms-transform:rotate(-14.3935929684905deg);
  transform:rotate(-14.3935929684905deg);
}
#u375 {
  position:absolute;
  left:-106px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  position:absolute;
  left:214px;
  top:759px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  position:absolute;
  left:-124px;
  top:33px;
  width:135px;
  height:8px;
  -webkit-transform:rotate(-33.2194762230846deg);
  -moz-transform:rotate(-33.2194762230846deg);
  -ms-transform:rotate(-33.2194762230846deg);
  transform:rotate(-33.2194762230846deg);
}
#u377 {
  position:absolute;
  left:-106px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u378 {
  position:absolute;
  left:1136px;
  top:684px;
  width:65px;
  height:39px;
}
#u379 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u380 {
  position:absolute;
  left:1136px;
  top:730px;
  width:65px;
  height:39px;
}
#u381 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u382 {
  position:absolute;
  left:1136px;
  top:774px;
  width:65px;
  height:39px;
}
#u383 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u384 {
  position:absolute;
  left:1136px;
  top:819px;
  width:65px;
  height:39px;
}
#u385 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u386 {
  position:absolute;
  left:1136px;
  top:864px;
  width:65px;
  height:39px;
}
#u387 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:1136px;
  top:704px;
  width:0px;
  height:0px;
}
#u388_seg0 {
  position:absolute;
  left:-91px;
  top:23px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(-33.5304696671331deg);
  -moz-transform:rotate(-33.5304696671331deg);
  -ms-transform:rotate(-33.5304696671331deg);
  transform:rotate(-33.5304696671331deg);
}
#u389 {
  position:absolute;
  left:-91px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:1136px;
  top:750px;
  width:0px;
  height:0px;
}
#u390_seg0 {
  position:absolute;
  left:-83px;
  top:1px;
  width:83px;
  height:7px;
  -webkit-transform:rotate(-6.1886159632416deg);
  -moz-transform:rotate(-6.1886159632416deg);
  -ms-transform:rotate(-6.1886159632416deg);
  transform:rotate(-6.1886159632416deg);
}
#u391 {
  position:absolute;
  left:-91px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  position:absolute;
  left:1136px;
  top:794px;
  width:0px;
  height:0px;
}
#u392_seg0 {
  position:absolute;
  left:-83px;
  top:-20px;
  width:86px;
  height:8px;
  -webkit-transform:rotate(21.8014094863518deg);
  -moz-transform:rotate(21.8014094863518deg);
  -ms-transform:rotate(21.8014094863518deg);
  transform:rotate(21.8014094863518deg);
}
#u393 {
  position:absolute;
  left:-90px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  position:absolute;
  left:1136px;
  top:839px;
  width:0px;
  height:0px;
}
#u394_seg0 {
  position:absolute;
  left:-99px;
  top:-44px;
  width:115px;
  height:8px;
  -webkit-transform:rotate(43.9455954964782deg);
  -moz-transform:rotate(43.9455954964782deg);
  -ms-transform:rotate(43.9455954964782deg);
  transform:rotate(43.9455954964782deg);
}
#u395 {
  position:absolute;
  left:-91px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396 {
  position:absolute;
  left:1136px;
  top:884px;
  width:0px;
  height:0px;
}
#u396_seg0 {
  position:absolute;
  left:-117px;
  top:-67px;
  width:150px;
  height:8px;
  -webkit-transform:rotate(56.415839524407deg);
  -moz-transform:rotate(56.415839524407deg);
  -ms-transform:rotate(56.415839524407deg);
  transform:rotate(56.415839524407deg);
}
#u397 {
  position:absolute;
  left:-91px;
  top:-70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u398 {
  position:absolute;
  left:248px;
  top:1102px;
  width:65px;
  height:39px;
}
#u399 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u400 {
  position:absolute;
  left:323px;
  top:1102px;
  width:65px;
  height:39px;
}
#u401 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u402 {
  position:absolute;
  left:394px;
  top:1102px;
  width:65px;
  height:39px;
}
#u403 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u404 {
  position:absolute;
  left:469px;
  top:1102px;
  width:65px;
  height:39px;
}
#u405 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u406 {
  position:absolute;
  left:544px;
  top:1102px;
  width:65px;
  height:39px;
}
#u407 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u408 {
  position:absolute;
  left:619px;
  top:1102px;
  width:65px;
  height:39px;
}
#u409 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u410 {
  position:absolute;
  left:694px;
  top:1102px;
  width:65px;
  height:39px;
}
#u411 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u412 {
  position:absolute;
  left:769px;
  top:1102px;
  width:65px;
  height:39px;
}
#u413 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u414 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u414_seg0 {
  position:absolute;
  left:-260px;
  top:30px;
  width:265px;
  height:7px;
  -webkit-transform:rotate(-14.6664191137866deg);
  -moz-transform:rotate(-14.6664191137866deg);
  -ms-transform:rotate(-14.6664191137866deg);
  transform:rotate(-14.6664191137866deg);
}
#u415 {
  position:absolute;
  left:-178px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u416_seg0 {
  position:absolute;
  left:-187px;
  top:30px;
  width:193px;
  height:8px;
  -webkit-transform:rotate(-20.3128262702074deg);
  -moz-transform:rotate(-20.3128262702074deg);
  -ms-transform:rotate(-20.3128262702074deg);
  transform:rotate(-20.3128262702074deg);
}
#u417 {
  position:absolute;
  left:-140px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u418_seg0 {
  position:absolute;
  left:-119px;
  top:29px;
  width:129px;
  height:8px;
  -webkit-transform:rotate(-31.3452141417157deg);
  -moz-transform:rotate(-31.3452141417157deg);
  -ms-transform:rotate(-31.3452141417157deg);
  transform:rotate(-31.3452141417157deg);
}
#u419 {
  position:absolute;
  left:-105px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u420_seg0 {
  position:absolute;
  left:-55px;
  top:29px;
  width:76px;
  height:8px;
  -webkit-transform:rotate(-62.4179707922028deg);
  -moz-transform:rotate(-62.4179707922028deg);
  -ms-transform:rotate(-62.4179707922028deg);
  transform:rotate(-62.4179707922028deg);
}
#u421 {
  position:absolute;
  left:-67px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u422_seg0 {
  position:absolute;
  left:-19px;
  top:29px;
  width:78px;
  height:8px;
  -webkit-transform:rotate(-120.837831944687deg);
  -moz-transform:rotate(-120.837831944687deg);
  -ms-transform:rotate(-120.837831944687deg);
  transform:rotate(-120.837831944687deg);
}
#u423 {
  position:absolute;
  left:-30px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u424_seg0 {
  position:absolute;
  left:-9px;
  top:29px;
  width:133px;
  height:8px;
  -webkit-transform:rotate(-149.774550275047deg);
  -moz-transform:rotate(-149.774550275047deg);
  -ms-transform:rotate(-149.774550275047deg);
  transform:rotate(-149.774550275047deg);
}
#u425 {
  position:absolute;
  left:8px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u426_seg0 {
  position:absolute;
  left:-6px;
  top:30px;
  width:201px;
  height:8px;
  -webkit-transform:rotate(-160.575740441115deg);
  -moz-transform:rotate(-160.575740441115deg);
  -ms-transform:rotate(-160.575740441115deg);
  transform:rotate(-160.575740441115deg);
}
#u427 {
  position:absolute;
  left:45px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428 {
  position:absolute;
  left:537px;
  top:1035px;
  width:0px;
  height:0px;
}
#u428_seg0 {
  position:absolute;
  left:-4px;
  top:30px;
  width:273px;
  height:7px;
  -webkit-transform:rotate(-165.81123928935deg);
  -moz-transform:rotate(-165.81123928935deg);
  -ms-transform:rotate(-165.81123928935deg);
  transform:rotate(-165.81123928935deg);
}
#u429 {
  position:absolute;
  left:83px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u430 {
  position:absolute;
  left:896px;
  top:1102px;
  width:65px;
  height:39px;
}
#u431 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u432 {
  position:absolute;
  left:971px;
  top:1102px;
  width:65px;
  height:39px;
}
#u433 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u434 {
  position:absolute;
  left:1046px;
  top:1102px;
  width:65px;
  height:39px;
}
#u435 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u436 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u436_seg0 {
  position:absolute;
  left:-87px;
  top:29px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(-42.1578621163443deg);
  -moz-transform:rotate(-42.1578621163443deg);
  -ms-transform:rotate(-42.1578621163443deg);
  transform:rotate(-42.1578621163443deg);
}
#u437 {
  position:absolute;
  left:-87px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u438_seg0 {
  position:absolute;
  left:-33px;
  top:30px;
  width:67px;
  height:6px;
  -webkit-transform:rotate(-90.8550973962667deg);
  -moz-transform:rotate(-90.8550973962667deg);
  -ms-transform:rotate(-90.8550973962667deg);
  transform:rotate(-90.8550973962667deg);
}
#u439 {
  position:absolute;
  left:-49px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  position:absolute;
  left:1003px;
  top:1035px;
  width:0px;
  height:0px;
}
#u440_seg0 {
  position:absolute;
  left:-13px;
  top:29px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(-138.601278117223deg);
  -moz-transform:rotate(-138.601278117223deg);
  -ms-transform:rotate(-138.601278117223deg);
  transform:rotate(-138.601278117223deg);
}
#u441 {
  position:absolute;
  left:-12px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u442 {
  position:absolute;
  left:78px;
  top:157px;
  width:65px;
  height:39px;
}
#u443 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u444 {
  position:absolute;
  left:78px;
  top:206px;
  width:65px;
  height:39px;
}
#u445 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u446 {
  position:absolute;
  left:78px;
  top:255px;
  width:65px;
  height:39px;
}
#u447 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u448 {
  position:absolute;
  left:78px;
  top:304px;
  width:65px;
  height:39px;
}
#u449 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u450 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  position:absolute;
  left:-86px;
  top:-40px;
  width:101px;
  height:8px;
  -webkit-transform:rotate(45.4006632557922deg);
  -moz-transform:rotate(45.4006632557922deg);
  -ms-transform:rotate(45.4006632557922deg);
  transform:rotate(45.4006632557922deg);
}
#u451 {
  position:absolute;
  left:-85px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u452_seg0 {
  position:absolute;
  left:-73px;
  top:-15px;
  width:75px;
  height:8px;
  -webkit-transform:rotate(17.9494029929139deg);
  -moz-transform:rotate(17.9494029929139deg);
  -ms-transform:rotate(17.9494029929139deg);
  transform:rotate(17.9494029929139deg);
}
#u453 {
  position:absolute;
  left:-85px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u454_seg0 {
  position:absolute;
  left:-73px;
  top:9px;
  width:76px;
  height:8px;
  -webkit-transform:rotate(-20.1125882890755deg);
  -moz-transform:rotate(-20.1125882890755deg);
  -ms-transform:rotate(-20.1125882890755deg);
  transform:rotate(-20.1125882890755deg);
}
#u455 {
  position:absolute;
  left:-85px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456 {
  position:absolute;
  left:214px;
  top:249px;
  width:0px;
  height:0px;
}
#u456_seg0 {
  position:absolute;
  left:-87px;
  top:33px;
  width:103px;
  height:8px;
  -webkit-transform:rotate(-46.569354804749deg);
  -moz-transform:rotate(-46.569354804749deg);
  -ms-transform:rotate(-46.569354804749deg);
  transform:rotate(-46.569354804749deg);
}
#u457 {
  position:absolute;
  left:-85px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u458 {
  position:absolute;
  left:386px;
  top:93px;
  width:65px;
  height:39px;
}
#u459 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u460 {
  position:absolute;
  left:461px;
  top:93px;
  width:65px;
  height:39px;
}
#u461 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u462 {
  position:absolute;
  left:536px;
  top:93px;
  width:65px;
  height:39px;
}
#u463 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u464 {
  position:absolute;
  left:611px;
  top:93px;
  width:65px;
  height:39px;
}
#u465 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u466 {
  position:absolute;
  left:686px;
  top:93px;
  width:65px;
  height:39px;
}
#u467 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u468 {
  position:absolute;
  left:419px;
  top:132px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  position:absolute;
  left:-14px;
  top:39px;
  width:147px;
  height:8px;
  -webkit-transform:rotate(-143.599088710777deg);
  -moz-transform:rotate(-143.599088710777deg);
  -ms-transform:rotate(-143.599088710777deg);
  transform:rotate(-143.599088710777deg);
}
#u469 {
  position:absolute;
  left:9px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:494px;
  top:132px;
  width:0px;
  height:0px;
}
#u470_seg0 {
  position:absolute;
  left:-27px;
  top:39px;
  width:97px;
  height:8px;
  -webkit-transform:rotate(-116.301017195819deg);
  -moz-transform:rotate(-116.301017195819deg);
  -ms-transform:rotate(-116.301017195819deg);
  transform:rotate(-116.301017195819deg);
}
#u471 {
  position:absolute;
  left:-28px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u472_seg0 {
  position:absolute;
  left:-30px;
  top:-47px;
  width:93px;
  height:8px;
  -webkit-transform:rotate(110.194334245184deg);
  -moz-transform:rotate(110.194334245184deg);
  -ms-transform:rotate(110.194334245184deg);
  transform:rotate(110.194334245184deg);
}
#u473 {
  position:absolute;
  left:-34px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u474_seg0 {
  position:absolute;
  left:-15px;
  top:-48px;
  width:138px;
  height:8px;
  -webkit-transform:rotate(140.885987833028deg);
  -moz-transform:rotate(140.885987833028deg);
  -ms-transform:rotate(140.885987833028deg);
  transform:rotate(140.885987833028deg);
}
#u475 {
  position:absolute;
  left:4px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476 {
  position:absolute;
  left:537px;
  top:219px;
  width:0px;
  height:0px;
}
#u476_seg0 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:202px;
  height:8px;
  -webkit-transform:rotate(154.451175364593deg);
  -moz-transform:rotate(154.451175364593deg);
  -ms-transform:rotate(154.451175364593deg);
  transform:rotate(154.451175364593deg);
}
#u477 {
  position:absolute;
  left:41px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u478 {
  position:absolute;
  left:1029px;
  top:93px;
  width:65px;
  height:39px;
}
#u479 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u480 {
  position:absolute;
  left:804px;
  top:93px;
  width:65px;
  height:39px;
}
#u481 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u482 {
  position:absolute;
  left:879px;
  top:93px;
  width:65px;
  height:39px;
}
#u483 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u484 {
  position:absolute;
  left:954px;
  top:93px;
  width:65px;
  height:39px;
}
#u485 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u486 {
  position:absolute;
  left:837px;
  top:132px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  position:absolute;
  left:-32px;
  top:40px;
  width:91px;
  height:8px;
  -webkit-transform:rotate(-107.840204307704deg);
  -moz-transform:rotate(-107.840204307704deg);
  -ms-transform:rotate(-107.840204307704deg);
  transform:rotate(-107.840204307704deg);
}
#u487 {
  position:absolute;
  left:-36px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u488_seg0 {
  position:absolute;
  left:-26px;
  top:-48px;
  width:99px;
  height:8px;
  -webkit-transform:rotate(118.379243086108deg);
  -moz-transform:rotate(118.379243086108deg);
  -ms-transform:rotate(118.379243086108deg);
  transform:rotate(118.379243086108deg);
}
#u489 {
  position:absolute;
  left:-26px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u490_seg0 {
  position:absolute;
  left:-14px;
  top:-48px;
  width:150px;
  height:8px;
  -webkit-transform:rotate(144.506771989266deg);
  -moz-transform:rotate(144.506771989266deg);
  -ms-transform:rotate(144.506771989266deg);
  transform:rotate(144.506771989266deg);
}
#u491 {
  position:absolute;
  left:11px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492 {
  position:absolute;
  left:865px;
  top:219px;
  width:0px;
  height:0px;
}
#u492_seg0 {
  position:absolute;
  left:-9px;
  top:-47px;
  width:215px;
  height:8px;
  -webkit-transform:rotate(156.17257861943deg);
  -moz-transform:rotate(156.17257861943deg);
  -ms-transform:rotate(156.17257861943deg);
  transform:rotate(156.17257861943deg);
}
#u493 {
  position:absolute;
  left:49px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u494 {
  position:absolute;
  left:867px;
  top:591px;
  width:65px;
  height:39px;
}
#u495 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u496 {
  position:absolute;
  left:537px;
  top:539px;
  width:0px;
  height:0px;
}
#u496_seg0 {
  position:absolute;
  left:-2px;
  top:23px;
  width:367px;
  height:7px;
  -webkit-transform:rotate(-171.84780131855deg);
  -moz-transform:rotate(-171.84780131855deg);
  -ms-transform:rotate(-171.84780131855deg);
  transform:rotate(-171.84780131855deg);
}
#u497 {
  position:absolute;
  left:132px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
