body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:951px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:951px;
}
#u941 {
  position:absolute;
  left:2px;
  top:468px;
  width:1912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:44px;
}
#u942 {
  position:absolute;
  left:788px;
  top:271px;
  width:332px;
  height:44px;
}
#u943 {
  position:absolute;
  left:2px;
  top:14px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:1054px;
  top:544px;
  width:59px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:42px;
}
#u945 {
  position:absolute;
  left:1037px;
  top:240px;
  width:76px;
  height:42px;
}
#u946 {
  position:absolute;
  left:2px;
  top:13px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  position:absolute;
  left:1034px;
  top:534px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u947_ann {
  position:absolute;
  left:1127px;
  top:530px;
  width:1px;
  height:1px;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:42px;
}
#u948 {
  position:absolute;
  left:803px;
  top:325px;
  width:76px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:2px;
  top:13px;
  width:72px;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:0px;
  top:961px;
  width:1605px;
  height:242px;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u952 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u953 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
}
#u954 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u955 {
  position:absolute;
  left:400px;
  top:0px;
  width:799px;
  height:30px;
}
#u956 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u957 {
  position:absolute;
  left:1199px;
  top:0px;
  width:401px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u959 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u961 {
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:30px;
  text-align:left;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u963 {
  position:absolute;
  left:400px;
  top:30px;
  width:799px;
  height:30px;
  text-align:left;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u965 {
  position:absolute;
  left:1199px;
  top:30px;
  width:401px;
  height:30px;
  text-align:left;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u967 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u969 {
  position:absolute;
  left:200px;
  top:60px;
  width:200px;
  height:30px;
  text-align:left;
}
#u970 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u971 {
  position:absolute;
  left:400px;
  top:60px;
  width:799px;
  height:30px;
  text-align:left;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u973 {
  position:absolute;
  left:1199px;
  top:60px;
  width:401px;
  height:30px;
  text-align:left;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u975 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u977 {
  position:absolute;
  left:200px;
  top:90px;
  width:200px;
  height:30px;
  text-align:left;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u979 {
  position:absolute;
  left:400px;
  top:90px;
  width:799px;
  height:30px;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u981 {
  position:absolute;
  left:1199px;
  top:90px;
  width:401px;
  height:30px;
  text-align:left;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u983 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:30px;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u985 {
  position:absolute;
  left:200px;
  top:120px;
  width:200px;
  height:30px;
  text-align:left;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u987 {
  position:absolute;
  left:400px;
  top:120px;
  width:799px;
  height:30px;
  text-align:left;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u989 {
  position:absolute;
  left:1199px;
  top:120px;
  width:401px;
  height:30px;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
}
#u991 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:27px;
}
#u992 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
}
#u993 {
  position:absolute;
  left:200px;
  top:150px;
  width:200px;
  height:27px;
  text-align:left;
}
#u994 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:27px;
}
#u995 {
  position:absolute;
  left:400px;
  top:150px;
  width:799px;
  height:27px;
  text-align:left;
}
#u996 {
  position:absolute;
  left:2px;
  top:6px;
  width:795px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:27px;
}
#u997 {
  position:absolute;
  left:1199px;
  top:150px;
  width:401px;
  height:27px;
  text-align:left;
}
#u998 {
  position:absolute;
  left:2px;
  top:6px;
  width:397px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u999 {
  position:absolute;
  left:0px;
  top:177px;
  width:200px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:200px;
  top:177px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:400px;
  top:177px;
  width:799px;
  height:30px;
  text-align:left;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:1199px;
  top:177px;
  width:401px;
  height:30px;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:207px;
  width:200px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:200px;
  top:207px;
  width:200px;
  height:30px;
  text-align:left;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:400px;
  top:207px;
  width:799px;
  height:30px;
  text-align:left;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:1199px;
  top:207px;
  width:401px;
  height:30px;
  text-align:left;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
